[2015-09-01 12:47] geowa4 opened #17 "Cannot make bridge file on OS X"
When running ensime-vim with either vim or neovim, I get the following error.

[code]

Looking through the code, I'm not sure why it would do that. Let me know if you'd like me to do anything to help identify and fix the issue.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26359508-cannot-make-bridge-file-on-os-x?utm_campaign=plugi

[2015-09-01 16:29] siegelzero commented on #17
I get something similar when starting in Ubuntu 12.04.
[code]

[2015-09-01 16:34] siegelzero commented on #17
The error `No such file or directory - .ensime` seems to indicate an issue with the ensime configuration. However, I've been using the spacemacs ensime plugin successfully with the same project for quite a while, so I don't suspect that is the issue.

[2015-09-01 19:53] yazgoo commented on #17
This exception happens when there is no .ensime file in the directory where you start vim.
Was it the case for you ?
This is a bad behaviour for a plugin, I guess it should not initialize itself in that case.

[2015-09-01 20:05] siegelzero commented on #17
@yazgoo I'm starting `ensime_bridge` from the directory with the `.ensime` file. I see no errors on that side. I'm also starting vim from the directory with the `.ensime` file. I've tried starting vim with `vim <path-to-file>` as well as starting vim, and then `:e`-ing the file. I get the same error in both cases as soon as the scala file is opened.

[2015-09-01 20:33] yazgoo commented on #17
Thanks @siegelzero .
Could you please add:

throw Dir.pwd

to ensime.rb before line 19 ?
This will tell us the working dir from which the .ensime file is being read.

[2015-09-01 20:48] siegelzero commented on #17
Perhaps as expected, this causes `ensime_bridge` to halt with an uncaught throw error. However, it does display the absolute path to the directory containing the `.ensime` file.

[2015-09-01 20:53] yazgoo commented on #17
Even when running vim ?

[2015-09-01 20:55] siegelzero commented on #17
OK, I misunderstood. Starting vim shows the path to the dir containing the source file I'm trying to open (not the dir containing `.ensime`).

[2015-09-01 21:06] yazgoo commented on #17
Do you have autochdir enabled, which can be checked by running:

    :set

under vim ?

[2015-09-01 22:35] siegelzero commented on #17
Yes, autochdir is enabled. Disabling autochdir and starting vim with the `throw` line now shows the correct directory. Undoing the `throw` line and starting vim now gives a new error:
[code]
After deleting `.ensime_cache` and restarting vim I still see the error.

[2015-09-02 01:16] geowa4 commented on #17
@siegelzero, it seems like you have a different issue than I do. Yours is an error finding .ensime, while mine is not able to create the bridge.

[2015-09-02 01:36] geowa4 commented on #17
While I don't have `.ensime_cache/bridge`, I have a file called `.ensime_cache/port`, which has the port a Java process is listening on.

[2015-09-02 07:37] yazgoo commented on #17
@geowa4 @siegelzero looks like you both have the same stack trace now.
This is displayed when leaving vim.
Don't you have another error displayed in vim before leaving ?

[2015-09-02 13:56] fommil opened #19 "get something up and running"
<bountysource-plugin>
---
There is a **[$100 open bounty](https://www.bountysource.com/issues/26389808-get-something-up-and-running?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_medium=issues&utm_source=github).
</bounty

[2015-09-02 14:35] #19 closed

[2015-09-02 16:38] siegelzero commented on #17
[code]
I'm seeing this (and some noise) in `:messages`. It seems that it's complaining about `scala_ensime.vim`

[2015-09-02 18:56] geowa4 commented on #17
After updating, I do get the above message. I also get the following. It seems like it's also not cleaning up after itself in this failure scenario.

[code]

[2015-09-02 19:08] geowa4 commented on #17
Oh, I should also mention that a file called `bridge.log` showed up in `.ensime_cache` after updating.

[2015-09-02 19:58] yazgoo commented on #17
@geowa4: about the message you about the port file, there are two possibilities:
- ensime server is already running, which you should see with a `ps -ef | grep java`
- ensime server ended without removing port and http file, in which case you should delete these first

[2015-09-02 20:10] yazgoo commented on #17
@geowa4 @siegelzero about this other error, did you try to update your plugins since yesterday ?
There was the following commit that should catch this exception:

https://github.com/yazgoo/ensime-vim/commit/d2f4b0404cd48429d30f8a69a5aace44ad31ecc0#diff-99bec7b4ad95b9efced2f99f97abe6b1

[2015-09-03 15:01] geowa4 commented on #17
I just updated everything. I'm now getting this while I have a Scala file open:

[code]

There's no `.ensime_cache/http`.  These are the contents of `ensime-vim.log`:

[code]

[2015-09-03 15:05] geowa4 commented on #17
After removing `.ensime_cache` and restarting either Vim or Neovim, that directory will not recreate.

[code]

[2015-09-03 17:20] yazgoo commented on #17
The java process probably was not stopped because the bridge crashed.
Could you update the gem to 0.0.8 ? This version now creates the .ensime_cache directory if required.
Also, could you send your bridge.log ?
If you want, we can continue on gitter: https://gitter.im/ensime/ensime-vim

Thanks

[2015-09-06 18:39] geowa4 commented on #17
Thanks to @yazgoo, this gets a lot further for me than it did when I opened this issue. Based on that effort and discussions on Gitter, I think it's best to close this issue.

[2015-09-06 18:39] #17 closed

[2015-09-08 06:22] yazgoo opened #29 "launch saveClasspath task in the background"
Before launching ensime, there's a step to find ensime classpath called saveClasspath.
This step should be launched in the background.
Also, since it is a long step that can fail, vim-ensime should:
- log its output
- tell what it's doing

[2015-09-09 06:59] yazgoo commented on #29
There is an issue with Popen screwing vim stdin when launching saveclasspath which has to be fixed

[2015-09-09 07:01] yazgoo opened #31 "Make ensime launcher a python package"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26549172-make-ensime-launcher-a-python-package?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_medium=issues&utm_source=git

[2015-09-10 09:44] fommil opened #32 "update the drone file"
sorry, I updated drone and forgot to tell you. The `.drone.yml` needs to be updated accordingly. I'll send you a PR.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26581288-update-the-drone-file?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www

[2015-09-10 09:47] fommil commented on #32
and by "send you a PR" I mean "I'll accidentally clone the wrong repo and push to upstream master" **sigh**. Well, at least that closes this ticket :smile:

[2015-09-10 09:47] #32 closed

[2015-09-10 11:06] yazgoo commented on #29
Here is the core of the problem:

[code]

[2015-09-10 11:19] rorygraves commented on #29
Ah, I see the prblem - running sbt without another ocmmand will run a prompt - you want ["sbt", "saveClasspath" ]

[2015-09-10 11:22] rorygraves commented on #29
also I think you can set stderr=subprocess.STDOUT and leave stdin undefined.

[2015-09-10 11:22] rorygraves commented on #29
will push my sublime code shortly for comparsion/sharing

[2015-09-10 11:27] rorygraves commented on #29
Have a look at https://github.com/rorygraves/ensime-sublime/blob/ST3/server.py#L73  - this is the generic method I have been working on for this.,

[2015-09-10 11:31] yazgoo commented on #29
@rorygraves this also happens when using ["sbt", "saveClasspath"].
I've opened:
http://stackoverflow.com/questions/32500630/stdin-reading-blocking-when-running-sbt-with-python-subprocess-popen

[2015-09-10 11:34] rorygraves commented on #29
Ah cool - I don't understand your initial problem - you are saying the subprocess is basically making the console not work correctly?

[2015-09-10 11:35] yazgoo commented on #29
Yeah, and even in non-interactive mode:

[code]

[2015-09-10 11:43] rorygraves commented on #29
Ouch - I use subprocess.call not sure of the differences - I  think that Sublime uses Python 3.3 as well so I'm not sure I'm able to add anything.  Can you move to 3.3?

[2015-09-10 11:54] yazgoo commented on #29
I just tried with 3.4.3 and got the same behavior.

[2015-09-10 19:05] jvican opened #33 "Ensime server not initialized"
__Description__: When opening a scala file, all the commands of the plugin are visible and executable. However, every command gives the following response: "still initialized". Then, the plugin is not working.

__Using__:
* ``nvim`` 0.0.0-alpha+201509092022
* ``scala`` 2.11.7
* ``sbt`` 0.13.9 with sbt-ensime plugin installed in ``~/.sbt/0.13.9/plugins/plugins.sbt``
* ``python2`` and ``python3`` wi

[2015-09-10 19:18] jvican commented on #33
Also, when executing nvim with the verbose option ``nvim -V10 file.scala``:

``autocommand call remote#define#AutocmdBootstrap("python", "...")`` where the dots represent paths to ensime.py and more arguments responding to the ``CursorHold`` event.

It looks like it could be a problem of nvim calling a bad version of python? Here it is python3, not python2. When ``ensime.py`` is executed with Pyth

[2015-09-11 08:39] jvican commented on #29
I can help. I will look into this as well.

[2015-09-14 12:12] yazgoo commented on #29
I've tried all the solutions mentioned on stackoverflow plus anything I could think of, so I'm putting this on standby for now.

[2015-09-14 20:56] yazgoo commented on #31
we're on pypi! https://pypi.python.org/pypi/ensime_launcher

[2015-09-14 20:56] #31 closed

[2015-09-16 06:15] xanderdunn opened #38 "Many errors when starting neovim after installing ensime-vim"
neovim:
[code]

After I install this plugin, here is the beginning portion of the error messages I get when I start neovim:
[code]

I installed both `websocket-client` and `ensime_launcher` with pip and pip3.

I have `export BROWSER=safari` in my ~/.profile.  I'm using Scala 2.11.7.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/267

[2015-09-16 06:21] xanderdunn opened #39 "Consider using ycmd instead of custom server?"
It looks like you're using Python's `websocket-client` to communicate between ensime and neovim.  Did you consider using Valloric/ycmd instead?

This has been discussed and agreed as a good idea a few times: Valloric/YouCompleteMe#1078 and ensime/ensime-server#1049, but it hasn't been done yet.

Using ycmd would also make it easy to use the other features offered by ensime: go to definition, go to

[2015-09-16 11:56] yazgoo commented on #38
Did you install neovim python package ?

    pip install neovim

[2015-09-16 17:43] xanderdunn commented on #38
`neovim` is installed both with `pip` and `pip3`.  However, perhaps these errors are due to my setting up the gradle ensime plugin instead of the sbt ensime plugin.  I'll try setting up sbt and see how it goes.

[2015-09-17 05:28] xanderdunn commented on #38
Using sbt was the key to resolving these errors.  I didn't realize it was integral to the plugin's operation.  I added the sbt plugin to my plugins.sbt and ran `sbt gen-ensime` and these errors were cleared up.

[2015-09-17 05:28] #38 closed

[2015-09-17 05:33] xanderdunn commented on #39
@fommil made the good point that YouCompleteMe does not support these functionalities that ENSIME does:
- Show the type of the symbol under the cursor.
- Add an import for the symbol under the cursor.
- Fast classpath search (types and members).
- Refactorings (rename, organize imports, extract method).

It would be possible to use YouCompleteMe for the features that it does support and thus reduc

[2015-09-17 05:34] xanderdunn opened #43 "Add plugin help"
I tried `:h ensime` and `:h ensime-vim` and it didn't find any help pages.  We should create some help pages that include available options.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26748252-add-plugin-help?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_medium=issues&utm_source=github)** We accept bounties via [Bountys

[2015-09-17 05:40] xanderdunn opened #44 "Option to change the background color on type check errors"
Right now, executing `: EnTypeCheck` will show an orange background on any symbol that isn't resolved correctly:
<img width="999" alt="screen shot 2015-09-16 at 22 35 31" src="https://cloud.githubusercontent.com/assets/1313618/9925698/435f6a3c-5cc3-11e5-9878-df62fa9cea8d.png">

Is there an option to change this color?

Ideally, I'd like to be able to add the option to show gutter symbols rather th

[2015-09-17 06:57] yazgoo commented on #44
I've just pushed this commit:

https://github.com/yazgoo/ensime-vim/commit/b632cda4e0974bc52805f19e830a8a5027b44244

Does it do what you'd expect ?

[2015-09-17 07:24] yazgoo commented on #44
(For the first part i mean)

[2015-09-17 11:52] #43 closed

[2015-09-17 18:37] yazgoo commented on #44
Here is the second part (hover support).

[2015-09-17 18:42] xanderdunn commented on #44
@yazgoo Wow, you're really on top of this!  Thanks so much!!  I'll try this out tonight.

[2015-09-18 07:01] todesking commented on #44
In `syntastic` plugin,  error highlight is linked to `SpellBad` color(see `:help :hi-link`). It seems good default value.

[code]

[2015-09-22 04:41] xanderdunn opened #51 "Commands Don't Appear to be Registered"
When I execute any of the ensime-vim commands, I'm told that the command can't be found.  I had ensime-vim working just a few days ago and I made sure all the setup steps were satisfied:

- `websocket-client` is installed
- `export BROWSER=safari`
- `sbt gen-ensime` appears successful:
[code]
- `neovim` is installed with pip
- `ensime/ensime-vim` is installed and updated with vim-plug.

I'm editin

[2015-09-23 13:42] cb372 opened #52 "global name 'EnsimeLauncher' is not defined"
* OS X
* Vim 7.4.712
* Python 2.7.6 (OS X default, not Homebrew)
* Scala 2.11.7, sbt 0.13.9

I believe I followed the README correctly:

1. `$ sudo pip install websocket-client`

2. `$ export BROWSER="/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"`

3. `$ cd code/scalacache`

4. `$ sbt gen-ensime` didn't report any errors.

5. Installed ensime-vim using Pathogen (is this supported?)

[2015-09-23 13:51] cb372 commented on #52
I tried installing the ensime_launcher package (`$ sudo pip install ensime_launcher`) but it didn't help. Still get the same error.

[2015-09-23 16:58] todesking commented on #52
Its my mistake! I'm working on it.

[2015-09-23 18:01] jvican commented on #29
I have tried to find a solution, but no luck. However, is this behavior making the plugin not to work well?

[2015-09-23 18:05] jvican commented on #51
Same error here, I think it is similar to #33

[2015-09-24 06:37] yazgoo commented on #52
looks like the way EnsimeLauncher is imported is wrong, it should be:

[code]

[2015-09-24 07:03] yazgoo commented on #51
It might be  linked to #52

[2015-09-25 10:23] jvican commented on #33
With the last pull request, I have been able to make it work.
For people with the same issue: __Don't update or remove using only _:PlugUpdate_ or :_PlugClean_ __
In my case, I had to remove the folder ensime-vim in .nvim/plugged/ensime-vim manually. Then, I installed ensime-vim again and the pluggin worked. I didn't get this result with PlugClean.
__NOTE__: I am using vim-plug.

[2015-09-25 13:14] yazgoo commented on #33
Thanks jvican.

[2015-09-25 13:14] #33 closed

[2015-09-28 13:00] fommil opened #56 "where does rake come from?"
http://fommil.com/ensime/ensime-vim/38

[code]

what is the fix for this? I'll add it to the docker image.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27000878-where-does-rake-come-from?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bount

[2015-09-28 22:42] yazgoo commented on #56
We can remove:
    - bundle install
    - bundle exec rake
As a matter of fact, there is no direct requirement for ruby in ensime-vim.
The only ruby requirement is neo2vim, which is its own project:
https://github.com/yazgoo/neo2vim

[2015-09-28 23:14] fommil commented on #56
ok, well we have `bundle` installed in the docker images for you to use in neovim. Let me know if that changes.

[2015-09-28 23:14] #56 closed

[2015-09-30 21:18] jvican opened #58 "ID not found error"
Sometimes, when I edit a file, I get type errors and then I rewrite it, I get this:
![ensimevimerror](https://cloud.githubusercontent.com/assets/2462974/10206845/60007378-67c9-11e5-9515-25e34a9ddfa5.jpg)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27070291-id-not-found-error?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_

[2015-10-01 14:28] kstep commented on #39
It is actually enough to use `omnifunc` setting instead of `completefunc` (82f6b7159c0345861dcf058f46bc8d503daa2ab3) to make ensime-server work nice with ycm.

[2015-10-01 14:30] kstep commented on #44
I have a syntastic integration in my fork, see [setloclist](https://github.com/kstep/ensime-vim/tree/setloclist) branch. It's still under development, buy you may want to try it out.

[2015-10-01 17:38] xanderdunn commented on #39
@kstep It's good to know that they don't conflict, but I was more thinking of reducing duplication of effort.  I was thinking about piggybacking on ycm's already nicely implemented autocompletions, inline errors and warnings, etc. rather than reinventing the wheel.  However, if that's the easy part of it all, perhaps it's not worth it.

[2015-10-01 17:54] kstep commented on #39
Doesn't YouCompleteMe incorporate omnicomplition?

[2015-10-02 08:10] kstep opened #64 "Provide generic API to ensime for other Vim plugins to integrate."
I wasn't sure where should I start this discussion, so I decided to open an issue here.

The problem with current ensime-vim is it's trying to everything. E.g. it tries to highlight errors, but Syntastic plugin already dues it very well, much more better, than ensime-vim will be able to do in near future. I started an experiment in my fork (setloclist branch in kstep/ensime-vim), and now I have Sy

[2015-10-02 08:27] kstep commented on #39
It seems like YCM integrates with any omnicompletion available, so once you set omnifunc, you get this completion ready integrated with YCM.

[2015-10-02 08:44] yazgoo commented on #64
Good idea.
Could you please provide an example of vim API.
Keeping in mind that ensime is asynchronous, so we should at least allow to register callback for specifics events.

[2015-10-02 08:50] todesking commented on #64
I strongly agreed :+1: :+1:
"Do one thing well" plugin is better than huge monolithic ones.

Maybe we need like this:
[code]

[2015-10-02 09:01] kstep commented on #64
@todesking yes, that's one thing to do it! I thought about something more general, though, like:

[code]

With possible helper functions like `fun ensime#on_errors()` and `fun ensime#get_errors()` which wrap more general forms.

I think I can do it, it can be simple enough refactoring from my Syntastic integration implementation.

[2015-10-02 15:13] Ir1sh commented on #64
I really like this idea and would just like to make one comment regarding it.  How does providing an api for other existing plugins to interact with effect the 'onboarding' process for new people to either vim or ensime vim?  having to install ensime and ensime-vim and then go find each separate plugin that is going to interface with ensime-vim might be a pain.

I think the suggestion in the op is

[2015-10-02 16:46] kstep commented on #64
If you want nice syntax checker in vim, you will have Syntastic already installed, it's just a must have for a good vimmer. Generally, maybe ensime-vim should provide some basic things, like error highlighting, maybe by filling it quickfix location list (with `setqflist()`), so basic functionality is always here, but trying to do something more complex, IMHO, will result in code bloat and more pro

[2015-10-04 18:01] yazgoo opened #65 "Error on cursor move after scala validation"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27156505-error-on-cursor-move-after-scala-validation?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_medium=issues&

[2015-10-04 18:17] yazgoo commented on #65
The problem comes from not escaping quotes in message() method

[code]

[2015-10-04 18:26] yazgoo commented on #65
fix in 642130ff06beb4b8fad9099b1a4469787358d16e

[2015-10-04 18:26] #65 closed

[2015-10-05 11:04] todesking opened #66 "How about license?"
Oh we have no license notation in the repository.

It looks theres no license convention in ensime project(ensime-server is 3BSD, ensime-emacs is GPL, ensime-atom is MIT, etc).  Which should we choose?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27169668-how-about-license?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_med

[2015-10-05 11:39] yazgoo commented on #66
I'd be inclined to choose a permissive license like MIT, but maybe we can put this to a vote, here are some alternatives, feel free to add some:
- GPLv3
- AGPLv3
- MIT
- BSD 3-Clause License

[2015-10-06 12:02] yazgoo commented on #66
Ok, let's vote then, I'll be closing the votes on sunday.
My vote:

MIT

[2015-10-06 13:47] todesking commented on #66
+1 to MIT :)

[2015-10-08 13:35] Jacoby6000 opened #77 "EnDeclaration opens new buffer without syntax highlighting"
This may very well be my own fault, but the title says it all.

Using [My vimrc](https://github.com/Jacoby6000/my-vimrc/blob/master/.vimrc), running :EnDeclaration creates a new v-split buffer (yay), with no syntax highlighting (no yay) until i :setf scala

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27260164-endeclaration-opens-n

[2015-10-09 16:58] Jacoby6000 commented on #77
This also occurs when I use neovim, if that matters.

[2015-10-10 16:53] yazgoo commented on #77
I've just merged #79 for that, does that fixes it on your end ?

[2015-10-10 20:39] yazgoo commented on #77
closing please re-open if not fixed.

[2015-10-10 20:39] #77 closed

[2015-10-10 21:41] #66 closed

[2015-10-10 21:47] yazgoo commented on #52
This should be fixed, please re-open if not.

[2015-10-10 21:47] #52 closed

[2015-10-10 22:51] oscar-broman opened #88 "Error in EnCompleteFunc"
I'm using Neovim (latest version as of now).

When I do C-x C-o I get this:
[code]

How do I further debug this? I'm not too familiar with vim scripting or python.

It works just fine in Vim.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27319203-error-in-encompletefunc?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_medium=

[2015-10-11 07:46] #88 closed

[2015-10-11 07:47] yazgoo commented on #88
Please re-open if it does not fix it on your end.

[2015-10-11 09:31] oscar-broman commented on #88
Works! Thanks.

[2015-10-11 09:58] yazgoo commented on #58
please re-open if it does not fix the problem on your end

[2015-10-11 09:58] #58 closed

[2015-10-11 14:57] yazgoo commented on #64
Here is a proposal: 

https://github.com/yazgoo/ensime-vim-typecheck

(via https://github.com/ensime/ensime-vim/pull/92 )

[2015-10-11 21:10] Jacoby6000 commented on #77
Confirmed! thanks so much!

[2015-10-15 06:30] gigiigig commented on #51
Same error here:

[code]

[2015-10-19 10:22] JD557 opened #94 "Not working in NeoVim"
Installing this plugin with Pathogen (`git clone https://github.com/ensime/ensime-vim.git` into `.vim/bundle`/`.nvim/bundle`) works on Vim, but seems to fail silently in NeoVim.

If this is a problem with the installation procedure and not with the code, it be nice to add a Pathogen howto in the ReadMe.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bounty

[2015-10-19 13:36] JD557 commented on #94
After some quick tests, this seems to be related to the first lines of `plugin/ensime.vim`, namely:

[code]

Is neovim not supposed to load this file?

[2015-10-21 04:49] Jacoby6000 commented on #94
I, too, am having this issue. Installed via Plug in neovim, and Vundle in vim. Works in vim, not in neovim.  My vim and neovim installations share the same vimrc, except for the plugin installs.

[2015-10-27 03:23] jackywyz opened #96 "report "E803: ID not found: 4""
when the EnDeclaration opens , i can't close it and report the error "E803: ID not found: 4"

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27722607-report-e803-id-not-found-4?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?

[2015-10-29 06:44] jackywyz opened #97 "hope to disable the tips : "Ensime config not found for this project""
Or let it can be configured

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27791813-hope-to-disable-the-tips-ensime-config-not-found-for-this-project?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_co

[2015-11-02 11:59] #97 closed

[2015-11-02 12:20] #96 closed

[2015-11-05 13:03] yazgoo commented on #94
Let me explain how the plugin system is supposed to work between nvim and vim.
For nvim, you should just need:
  - rplugin/python/ensime-vim
  - ensime_launcher/__init__.py
Since vim does not support rplugins, @todesking and I designed a tool to convert rplugins to vim normal plugins. They generate:
  - pulgin/ensime.vim
  - autoload/ensime.vim
Which are only necessary for vim (hence the `has('nvi

[2015-11-11 17:12] yazgoo commented on #94
Does the problem still occur ? I can't reproduce it on last commit.

[2015-11-11 18:49] JD557 commented on #94
It still occurs on my side.

[2015-11-11 20:26] yazgoo commented on #94
Could you please give more detail about what you're doing.
Here is what I tried:

[code]
Do you get anything at all in .ensime_cache/*.log ?

[2015-11-11 23:09] JD557 commented on #94
Oops, my bad. I didn't know about `:UpdateRemotePlugins` (I thought that was related to Plug).

Sorry for the confusion. I'll close this issue now.

[2015-11-11 23:09] #94 closed

[2015-11-12 07:48] yazgoo commented on #51
Does this still occur ?
Do you have anything in .ensime_cache/*.log ?

[2015-11-17 14:52] yazgoo opened #113 "multi-line EnType errors block user input"
When a multi line message is printed, vim won't accept any action until we hit enter.
This is poor behaviour, error printing should not block vim.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28319281-multi-line-entype-errors-block-user-input?utm_campaign=plugin&utm_content=tracker%2F18164593&utm_medium=issues&utm_source=github)**

[2015-11-18 11:53] gigiigig commented on #51
Yes I still have the same problem, it works well with vim though so it seems more a neovim specific problem, do you want me to paste the log anyways?

[2015-11-18 12:28] #113 closed

[2015-11-18 12:30] yazgoo commented on #51
Yeah, please :)
By the way, did you do an `:UpdateRemotePlugins` ?

[2015-11-18 14:27] gigiigig commented on #51
Ok, I deleted everything an reinstalled everything from scratch, ran `:UpdateRemotePlugins`, it's working now! So maybe was some file that didn't update correctly.

Thanks for the help!
Luigi

[2015-11-18 16:03] yazgoo commented on #51
Thanks @gigiigig , closing this

[2015-11-18 16:03] #51 closed

[2015-11-19 08:48] yazgoo opened #116 "should generate .ensime if it does not exist"

[2015-11-19 13:02] jarandaf opened #117 "Unresolved dependencies"
Hi, I am getting the following errors:

[code]

[2015-11-19 13:05] yazgoo commented on #116
Same problem as with ensime-launcher.
Plus the client has to be initialized, which requires .ensime.

[2015-11-26 04:58] vito-c opened #119 "Neovim Remote Plugin Doesn't update"
Documentation for starting neovim with remote plugin is missing. Please also include these steps in the readme
- `cp -r ~/.vim/bundle/ensime-vim/rplugin/ ~/.config/nvim/`
- `:UpdateRemotePlugins`

The error with ensime-vim is below
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28622138-neovim-remote-plugin-doesn-t-update?utm

[2015-11-26 05:01] vito-c commented on #119
[code]

[2015-11-26 12:14] yazgoo commented on #119
To me it works with pathogen,here is my .config/nvim:

[code]
Here is my init.vim:
[code]

[2015-11-26 19:21] vito-c commented on #119
could it be possible you aren't using the remote plugin? I don't see rplugin

[2015-11-27 08:02] vito-c commented on #119
I got it working! There was an error in another plugin that was causing some issues.

[2015-11-27 08:02] #119 closed

[2015-11-27 08:12] yazgoo commented on #119
Cool,

If I may, what was the other plugin ? Maybe it will help someone else.

[2015-11-27 08:18] vito-c commented on #119
I'm not 100% sure but I think it was unite.vim

[2015-11-27 08:20] yazgoo commented on #119
Thanks!

[2015-12-03 02:08] Ferenc- opened #121 "IndexError('list index out of range',)"
The `:EnDebug` gives me the following:
[code]
neovim python module
[code]
neovim
[code]

[2015-12-03 07:58] yazgoo commented on #121
Thanks @Ferenc- , could you please also provide .ensime-cache/ensime-vim.log and .ensime_cache/server.log when this happens ?

[2015-12-03 09:41] Ferenc- commented on #121
[code]

[code]

[2015-12-03 12:27] yazgoo commented on #121
Thanks @Ferenc-,
The problem is that EnDebugStart expects a class as a parameter (as documented in https://github.com/ensime/ensime-vim/blob/master/doc/ensime-vim.txt ).
It shouldn't throw an exception, though, hence #122.

[2015-12-03 14:00] Ferenc- opened #123 ":EnDeclaration results in NvimError('Column value outside range',)"
Using `:EnDeclaration` in a simple HelloWorld application results in the following backtrace:

[code]

[code]

[code]

[2015-12-03 14:08] yazgoo commented on #121
Closing this, please re-open if necessary.

[2015-12-03 14:08] #121 closed

[2015-12-07 09:28] vito-c commented on #123
I am also getting this error.

[2015-12-07 11:15] vito-c commented on #123
Fixed here: https://github.com/ensime/ensime-vim/pull/124

[2015-12-07 16:51] yazgoo commented on #123
Closing this after #124 merge, please re-open if #124 did not fix it.

[2015-12-07 16:51] #123 closed

[2015-12-07 18:51] vito-c commented on #39
There currently is `omnifunc` support though I would like to discuss some of the benefits of supporting a completion engine like `ycm` or `deoplete`

Right now I do not think ycm supports data being pushed via websockets. So that would have to be an upstream change in ensime-server. If we do create support `ycm` we can push more information to the completion engine such as type info
![image](https

[2015-12-07 21:09] yazgoo commented on #39
I agree this would be an awesome feature.
I don't see why it should be done by ensime-server since it is vim specific.
To me, this could be done in ensime-vim or in an ensime-vim plugin.

[2015-12-07 21:37] yazgoo commented on #39
After having a look at ycmd, it looks like the way to go would be to write a completer, which is basically a plugin for ycmd that would directly talk with ensime-server.

[2015-12-07 23:05] vheon commented on #39
@yazgoo Hi, I'm one of the maintainers of YCM/ycmd. I saw that you drop a comment on gitter but we don't use that so I don't think you will receive feedback there. I didn't understand your comment there, so you want to use more features from YCM but you would like to keep everything inside this plugin? Which features are you talking about? I'm a little confused on that hand.

[2015-12-08 06:04] yazgoo commented on #39
Hi @vheon ,

Thanks for your reply.
Currently, omnifunc completion only allows to display the element being completed.
In the screenshot above, there is also information about the type of the element.
So the question is: how could we get this information into ycm ? I'd prefer it to be in the same codebase as ensime-vim if possible.

[2015-12-08 16:06] vheon commented on #39
Oh those are information that you can put into the `omnifunc` directly. If you look at `:h complete-item` you will get all the info you need :+1: For every other question just ping me ;)

[2015-12-09 01:00] vito-c opened #126 "EnDeclaration"
I am getting some inconsistency when jumping to declarations. I am not sure if ensime-server supports all use cases because from what I could tell the byte positions were correct.

[code]
Whenever I `EnDeclaration` it takes me to the SomeImplicit declaration.

[2015-12-09 01:06] vito-c commented on #126
I am also unable to jump to declaration `TheseThings`
[code]

[2015-12-09 13:11] yazgoo commented on #39
Thanks @vheon,

@vito-c, does #127 do what you'd expect ?

[2015-12-09 20:32] vito-c commented on #126
@yazgoo I was also wondering if there is a way to send a request to the ensime server on the commandline so that I could try and figure out why information for the parameter type isn't coming back correctly.

[2015-12-10 01:14] vito-c commented on #126
could this be related to the ensime-server looking at old code? how do you force a refresh?

[2015-12-11 00:29] ajkaanbal opened #128 "Error detected while processing CursorHold Auto commands for "*.scala" in neovim"
Hi.

The error occurs after using `:EnDocBrowse`. The documentation opens correctly in the browser but nvim shows up the error message every time I tried to move the cursor, I have to reopen neovim.

Error message:

[code]

versions:
`$ nvim --version`
NVIM 0.1.1 (compiled Dec  9 2015 13:03:38)
`$ pip freeze | grep neovim`
neovim==0.0.38

init.vim

[code]

[2015-12-11 01:01] ajkaanbal commented on #128
I found out what's happen

I set BROWSER=google-chrome when I change to BROWSER=firefox  it works, no more error message.

I modify this line:

https://github.com/ensime/ensime-vim/blob/master/rplugin/python/ensime.py#L303

to this: `subprocess.Popen([browser, url], stderr=subrocess.PIPE, stdout=subprocess.PIPE)`

And now is working also with google-chrome.

[2015-12-11 06:16] vito-c opened #129 "EnClassPath"
[code]
so many escape codes... and then my instance of vim dies or is closed?

[2015-12-13 02:49] vito-c commented on #128
https://github.com/ensime/ensime-vim/pull/130

[2015-12-13 07:04] yazgoo commented on #128
Thanks @vito-c ,
Closing this, please re-open in case of problem.

[2015-12-13 07:04] #128 closed

[2015-12-15 14:45] divarvel commented on #117
Same issue here.

[2015-12-18 15:06] oschrenk commented on #117
I fixed this by adding
[code]

to `~/.sbt/repositories`.

[2015-12-18 15:46] oschrenk commented on #44
Support for changing this would be great. Right now type check errors make everything unreadable under my current theme

[2015-12-18 16:05] oschrenk commented on #44
It seems it actually already landed upstream. I can set `let EnErrorStyle='SpellBad'`, save file and then see changes in the highlighting.

Can't make it work though having it in my `.vimrc`

[2015-12-19 10:19] fommil opened #132 "use diff based refactoring API"
https://github.com/ensime/ensime-server/pull/1180 (you might not even be using the old API)

[2015-12-22 08:49] vito-c commented on #44
There is an ErrorStyle already available via the syntax `*Error          any erroneous construct` `:help syntax` line 258 there should be a way to have that be the default.

[2015-12-22 08:52] vito-c commented on #129
`-Dsbt.log.noformat=true` I think this might fix this issue or we would have to parse the escape codes to make sense.

[2015-12-22 08:53] vito-c commented on #29
I think these are related: https://github.com/ensime/ensime-vim/issues/129

[2015-12-22 09:21] vito-c commented on #29
probably want to investigate using `Popen.communicate` as well? https://docs.python.org/2/library/subprocess.html#subprocess.Popen.communicate

[2015-12-22 11:44] yazgoo commented on #29
I think I also tried it with no success.

[2015-12-22 12:11] yazgoo commented on #44
@oschrenk : fixed support for .vimrc override of EnErrorStyle in #133, please re-open if it does not fix it.

[2015-12-22 12:11] #44 closed

[2015-12-22 12:20] yazgoo commented on #129
#134 should fix this, please re-open if it does not.

[2015-12-22 12:20] #129 closed

[2015-12-22 12:42] yazgoo commented on #126
You force a refresh by running sbt gen-ensime and relaunching ensime server (i.e. right now relaunching vim)

[2015-12-22 12:45] yazgoo opened #136 "Fix unit tests"

[2015-12-24 21:00] vito-c opened #138 "Blocking BufEnter command"
[code]

I get this error sometime when trying to open multiple instances of nvim in the same project directory. It also seems to be a blocking call and takes awhile to timeout.

[2015-12-26 17:45] vito-c opened #139 "Error Checking Issues"
Issues with Error Type Checking:
- There is an ErrorStyle already available via the syntax `*Error          any erroneous construct` `:help syntax` line 258 that should be the default.
- The error highlighting shows up sometimes for me even when I don't run `EnTypeCheck` is error checking running via an autocommand? There should be a way to disable/enable this
- The error highlighting doesn't go a

[2015-12-31 17:21] jvican opened #141 "Undefined variable: g:EnErrorStyle"
Hi there!
When I execute `:EnType` I am getting the following error:
[code]
Why and how can I solve it?
Thanks.

[2015-12-31 17:25] jvican commented on #141
Solved with `:let EnErrorStyle='EnError'`. It would be handy to define it as the default one.

[2015-12-31 17:26] jvican commented on #117
Solved with @oschrenk comment. Works for me.

[2015-12-31 19:27] vito-c commented on #141
Please leave this issue open. It's a valid bug fi the error style needs to be set

[2016-01-01 15:20] jvican opened #143 "Request for Ensime refactorings (like variable/method renaming)?"
Hi guys,

I am interested in ensime's refactorings, specially variable/method renaming throughout a project. I think it's a must for `ensime-vim` to succeed in the scala world. I have a rough idea how to implement it in python via regex and search-and-replace mechanisms, without interacting with the ensime server.

However, it would be better to use the built-in refactoring features of ensime serv

[2016-01-05 11:49] #141 closed

[2016-01-06 14:34] jvican commented on #29
My guess is that `sbt` is misbehaving when there is no pseudo-tty to interact with the user (probably because of `jline`). The solution is to use a python module to run the commands in a pseudo-tty. Let's install `pexpect` via pip (`pip3 install pexpect` for Python 3.x).

Then, run the following:

[code]
Tested in Python 3.4.3 (Gentoo Linux) and works.

I am working on a PR right now. Let me know

[2016-01-08 11:23] jvican commented on #29
Well, I am doing a PR out of this. Also, I will be working on new features to add to ensime-vim.

[2016-01-08 16:38] jvican commented on #29
Whoops, after several tries there is no luck with this. I think that I have spotted the problem. `ConsoleReader` from `jline` is somehow getting the stdin from the system and not from the file descriptors because no matter how you try it you cannot redirect stdin. Also, as you write in your keyboard, jline detects that you are writing by stdin and buffers (and echoes) everything it gets.

So far,

[2016-01-11 22:12] jvican commented on #143
I have already implemented the rename refactoring. Also, I am preparing a big PR with code refactorings and improvements, which will be available in the next days.

[2016-01-11 22:19] rorygraves commented on #143
Great!  I'm not actually sure which ones sublime has, its certainly not even all the ones than ensime supports.

[2016-01-11 23:01] jvican commented on #143
Yep! It's almost working but I have to propagate all the changes for vim as well, because the used python files are different.

Also, I am stuck with the renaming refactoring because of [this issue](https://github.com/ensime/ensime-server/issues/655). Unfortunately, this also affects other bits of ensime.

I will make this PR and mark it as WIP. When that issue is resolved in `ensime-server`, I wi

[2016-01-13 17:12] dubiousdavid opened #145 "EnDocBrowse in OSX"
I am unable to get `:EnDocBrowse` to work in OSX. Is there something special I need to do?

[2016-01-13 17:28] dubiousdavid commented on #145
Got it working by creating the following bash script named `chrome` and putting it on my path.

[code]

[2016-01-13 17:28] #145 closed

[2016-01-13 19:29] dubiousdavid opened #146 ":EnType does not display input/output type of function"
```println("Hello World!")```
Cursour around the letter 'p' displays nothing.
Cursor around the letter 'n' displays `scala.Unit`.

I would hope for something like I see in the doc uri, `println(x:Any):Unit`.

[2016-01-15 01:04] jvican commented on #146
My last PR (https://github.com/ensime/ensime-vim/pull/147) fixes this. Wait some days until it's merged!

[2016-01-17 02:08] jvican commented on #145
That's rare. Can you please specify which is your `$BROWSER` variable? It's a good practice to use the full path of your browser, like the one you make reference in your script.

I have been fiddling with this in the last days. Another option is using `which` but the problem is Windows doesn't have one and then I would have to implement it in Python (that takes into account several executable deta

[2016-01-19 09:04] fommil opened #148 "move docs/readme to ensime.org"
we are trying to consolidate all docs. Please move your README to http://ensime.github.io/editors/vim/ and follow the README convention e.g. https://raw.githubusercontent.com/ensime/ensime-server/master/README.md

the other half of https://github.com/ensime/ensime.github.io/issues/10

[2016-01-27 23:07] jvican commented on #143
Variable/method renaming included in #147. We'll open another issue to keep track of all the refactorings. Closing this.

[2016-01-27 23:07] #143 closed

[2016-01-27 23:09] jvican commented on #29
This is a pretty unnecessary task because sync between client and forked sbt is difficult and requires locking. In my view it does not worth a try. I would close this...

[2016-01-27 23:11] jvican commented on #126
I think this is fixed in #147. Please, try it and close in case it is.

[2016-01-27 23:24] jvican commented on #136
OK, I think it could be better if we only make tests for the neovim plugin (in python). It's really easy to embed a neovim instance and check functionality against a real instance of the editor. Vim won't be covered by the tests, but as all the logic of the plugin is in ensime_shared (which is shared by both vim and neovim) vim will indirectly be covered by the tests.

What do you think? More info

[2016-01-27 23:30] jvican commented on #139
Are you still getting these errors @vito-c?

[2016-01-27 23:31] jvican commented on #132
Starting to use it here #147. @fommil, can you close this? we'll keep on using it from now on.

[2016-01-27 23:33] jvican commented on #116
Are you sure about this? I usually don't create a `.ensime` file to avoid using `ensime-vim` when editing. As the boot up of the server is slow, I will force the user to create that file with sbt if he's interested in using this plugin for that concrete project.

[2016-01-27 23:37] fommil commented on #132
sure, close when you release it

[2016-01-27 23:56] jvican commented on #117
I think this is an sbt-related problem. Could we close this?

[2016-01-28 04:59] vito-c commented on #139
I will test with latest but I am pretty sure I was still getting them

[2016-02-02 13:07] jvican commented on #136
Any feedback on this?

[2016-02-03 16:57] ajkaanbal opened #150 "EnClasspath doesn't work"
I only receive the message `Execute :EnClasspath to set a classpath`

The log `tail -f .ensime_cache/ensime-vim.log` show me the next message in a loop:

[code]

[2016-02-03 19:48] jvican opened #151 "Error with highlighting: EnErrorStyle undefined variable"
[code]

[2016-02-03 19:49] jvican opened #152 "Neovim import error when vim is executed and neovim module is not installed"
[code]

[2016-02-03 21:11] jvican commented on #150
Could you please give me the following information?

* What do you have under ~/.config/ensime-vim/? Give me the full path.

* Show me your .ensime (try to rebuild it with `sbt gen-ensime`.

* Have you got that error after updating `ensime-vim`?

[2016-02-03 22:43] ajkaanbal commented on #150
*  I don't have that directory
* My .ensime
[code]

* I updated ensime-vim from this commit dcf64a617c346ad8e5ae8aafc13fcde04b157c28 to the latest on master.

[2016-02-03 22:45] jvican commented on #150
Got a solution of this problem. Publishing on next PR.

[2016-02-03 22:47] fommil opened #154 "monkeys first"
the monkeys jar should come first so that the evil can be witnessed.

[2016-02-06 13:26] #151 closed

[2016-02-08 21:16] Furyhunter commented on #150
Any word on this? Running MacVim 7.4 1-1054, `:EnClasspath` does nothing and MacVim freezes on `:qa`

[2016-02-09 10:43] jvican commented on #150
Yes, I have a fix for this. Publishing today.

[2016-02-10 22:12] #152 closed

[2016-02-10 22:25] jvican commented on #150
Fixed by https://github.com/ensime/ensime-vim/pull/156

[2016-02-12 08:25] #146 closed

[2016-02-12 08:25] jvican commented on #139
Any news @vito-c ?

[2016-02-12 08:26] jvican commented on #138
Fixed by last PR https://github.com/ensime/ensime-vim/pull/156. If it happens again, I'll reopen the ticket.

[2016-02-12 08:26] #138 closed

[2016-02-12 08:31] jvican commented on #29
OK, last PR fixes some problems with `EnClasspath` in Neovim, like the conflict of stdout caused by the interactive mode of sbt that forced to restart it. In fact, `sbt` is now executed asynchronously (`terminal` feature) but the main process waits until it's finished.

So, the bug is fixed and the feature of running `EnClasspath` async is there but it's not being used. If anyone is interested in

[2016-02-12 08:31] #29 closed

[2016-02-12 08:31] #126 closed

[2016-02-12 08:42] #132 closed

[2016-02-12 14:53] jvican opened #157 "Clean repo files"
We should remove:
* `ensime_bridge` under /bin
* everything under /lib since it's not useful anymore
* ensime_bridge spec

[2016-02-12 14:53] jvican commented on #157
WDYT? @yazgoo

[2016-02-14 17:56] #150 closed

[2016-02-14 17:56] #139 closed

[2016-02-14 21:13] jvican commented on #39
Closing because of inactivity, we already support omnifunc and it's compatible with `deoplete`.

[2016-02-14 21:13] #39 closed

[2016-02-15 09:47] #154 closed

[2016-02-16 19:23] Sciss commented on #117
I have the same issue. It's not good to ask the user to add a global resolver to their local sbt installation. Should be fixed in Ensime. Please re-open.

[2016-02-16 19:28] jvican commented on #117
Sorry, I thought this was solved. This is a problem of dependencies that it's not related to `ensime-server` AFAIK. @fommil, do you know something about it? In any case, `ensime-vim` could do a small workaround but it's not the good place to do it and therefore I'm not convinced to implement it.

[2016-02-16 19:30] Sciss commented on #117
I created this file: `~/sbt/0.13/netbeans.sbt` with contents:

    resolvers += "netbeans-releases" at "http://bits.netbeans.org/maven2"

Then the update worked.

[2016-02-16 19:31] jvican commented on #117
Yes, that's how it's solved. But I would like to gather more information about why it happens.

[2016-02-16 19:31] Sciss commented on #117
I think the update process from ensime must add that custom resolver to its sbt build file.

[2016-02-16 19:33] rorygraves commented on #117
This is because of the newer java support in Ensime, the client needs to be updated the sbt project it generates to save the ensime classpath with the resolver - see the code here https://github.com/ensime/ensime-sublime/blob/master/server.py#L42 from the sublime plugin.

[2016-02-16 19:34] rorygraves commented on #117
i.e. needs to be added here  - https://github.com/ensime/ensime-vim/blob/master/lib/start_ensime.sh

[2016-02-16 19:38] jvican commented on #117
Sure @Sciss, I just wondered why it happened now and not before (previous releases).

Thanks @rorygraves, very useful as always.

[2016-02-16 19:39] rorygraves commented on #117
No idea why it only just happened - the change has been in for a while.  Empty cache?

[2016-02-16 19:44] jvican commented on #117
Maybe... the thing is that I applied this fix but then I removed it and checked that it was working (I believe I cleaned the cache but I must probably have forgotten). Submitting a PR for this.

[2016-02-16 19:46] #117 closed

[2016-02-16 22:17] Sciss opened #164 "vim freezes"
I am getting random freezes, even from just opening a file in vim.

    $ python --version
    Python 2.7.9
    $ vi -version
    VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Mar 31 2015 23:35:48)
    $ uname -v
    #1 SMP Debian 3.16.5-1 (2014-10-10)

sbt global plugins:

    addSbtPlugin("org.ensime" % "ensime-sbt" % "0.3.3")

I installed the following way:

    $ sudo apt-get install python-pip

[2016-02-16 23:21] jvican commented on #164
There is a current problem in which I have stumbled upon several times: when you open a vim instance you cannot quit when `ensime-vim` is waiting for server reply (which is the case in the beginning of the execution). You have to wait until the messages 'Ensime analyzer is ready' and 'Ensime indexer is ready'.

Why? No idea, we have to find it out.

I don't know if your problem is related to this

[2016-02-16 23:22] Sciss commented on #164
Ok, it's not urgent. Actually I want to see a bit how the ensime clients work and if ensime is the right technology to use for an upgrade of my swing editor ;)

[2016-02-16 23:23] jvican commented on #164
Nice, any contribution is appreciated @Sciss :smile:

[2016-02-17 05:38] timothykim commented on #164
I have the exact same issue. Will be monitoring this issue.

[2016-02-17 12:29] Kazy opened #165 "Python exception not caught"
Quite often a Python exception is not caught and is instead displayed in Vim, making it unusable. It's the same exception every time.

While it is not the only way to obtain it (it sometime happens randomly), I found that I can reproduce it every time with the following steps:

* Clone https://github.com/heathermiller/f-p
* Open `core/src/main/scala/RDD.scala`, and wait for Ensime to initialize
*

[2016-02-17 13:02] jvican commented on #165
Thanks for the report Jocelyn :smile: I'll look into it soon!

[2016-02-18 18:29] ChrisCoffey commented on #164
Likewise. I'm running NVIM 0.1.1 on OSX with python 2.7

[2016-02-21 22:03] fommil opened #167 "Coursier installer"
see link below for definitive script

[2016-02-24 07:30] casertap commented on #150
When I open a .scala file in vim, I get the bip sound at regular interval and I get the message:
Execute :EnClasspath to set a classpath
my .ensime looks like this (ignore the line numbers):
[code]

I am using the last version on the master branch.

[2016-02-25 21:31] casertap opened #168 "Execute :EnClasspath to set a classpath (on master)"
When I open a .scala file in vim, I get the bip sound at regular interval and I get the message:
Execute :EnClasspath to set a classpath
my .ensime looks like this (ignore the line numbers, lines are truncated (>) at the end because I could not do a proper copy paste from the vim of my docker machine):
[code]

I am using the last version on the master branch.
After having this error, my vim will f

[2016-02-26 17:40] jvican commented on #168
Hi @casertap, sorry but I cannot solve this ATM because I'm under two deadlines. Is there anyone in the community that can take a look at this?

[2016-02-27 21:29] ChrisCoffey opened #169 "complete_func does not work"
I'm running `NVIM 0.1.2` with `+acl   +iconv    +jemalloc` with python 2.7.

Omni-completion appears to be broken on NeoVim in the current version. `fun_en_complete_func` in `ensime_shared.py` is dropping into the vim use-case, which in turn fails to call `complete()`. I played around with flipping the `if not base` condition, but it didn't seem to make a difference.

Here's the log:
[code]

I'm h

[2016-02-27 21:52] ChrisCoffey opened #170 "EnCompleteFunc does not pull suggestions on initial call"
`EnCompleteFunc` looks like the intent is to block for updates from Ensime once Vim calls the second time with `0`, however this doesn't actually happen because the queue is empty & the read loop is skipped over.

Once the suggestions arrive, they're available & are processed immediately if you trigger omni-completion a second time for the same cursor location.

[2016-02-28 13:09] jvican commented on #170
True, thanks for pointing that out. The problem is that you can't re-trigger omni-completion a second time from the plugin, or at least I don't know how to do it.

The solution would be to modify `unqueue` and force the while loop to process at least one message by blocking. Could you please do it and check if it works? Thanks.

[2016-02-28 13:10] jvican commented on #169
Hi @ChrisCoffey, basically the trick to do the omnicompletion is to call the server as soon as possible (in the first call) and then, when vim calls with a `0`, it waits for the response if it still hasn't arrived.

However I agree that most of the times it doesn't work (and I have to dig into this more deeply, but I don't have time). Apparently, when you call it several times it does work, maybe

[2016-02-28 23:44] ChrisCoffey commented on #170
Yup, that worked exactly as expected. The results look correct as far as I can tell, but are not accepted by NeoVim's omni-complete. Is there anything that looks incorrect about this?

Running `<C-x><C-o>` on a `String`:
[code]

[2016-02-29 00:06] ChrisCoffey commented on #169
What I was referring to in this situation is actually that the condition at https://github.com/ensime/ensime-vim/blob/master/ensime_shared/ensime.py#L802 simply does not work in NeoVim. The log above shows that `findstart` is a list with two elements, rather than just the bit expected.

[2016-02-29 08:58] jvican commented on #169
Oh, you are completely right, I didn't know neovim changed that. It's supposed to be `1` in vim. Could you please submit a PR to fix this as well?

[2016-02-29 08:59] jvican commented on #169
Wait, no, actually I remember this. Yes, your last PR fixes this. I did the logic for vim/neovim out of `complete_func`. Thanks!

[2016-02-29 09:03] jvican commented on #170
Omnicompletion should accept that and the problem is probably in the details.

Here you can find all the documentation for omnicompletion, perhaps I miss something.
http://vimdoc.sourceforge.net/htmldoc/insert.html#complete-functions

[2016-02-29 09:04] #169 closed

[2016-03-02 07:27] ajkaanbal commented on #168
Hi @casertap.  remove .config/ensime-vim and also .ensime and .ensime_cache located in your project folder and try again.

About the bip sound, maybe you need to add this: `set noerrorbells`

[2016-03-02 10:20] ches commented on #168
I had similar symptoms. My first run of `:EnClasspath` succeeded, messages from ensime-vim indicated it was analyzing, etc. and the ensime server started. Then my first attempt to use anything, executing `:EnType`, made things go sideways—tmux telling me there were error bells in the terminal every second or so (visual bells setting enabled) and Vim becoming sluggish with whatever was repeatedly c

[2016-03-02 22:31] fommil commented on #148
ping

[2016-03-03 18:06] mantognini commented on #164
I wanted to try this plugin but I'm facing the same issue. The "fix" from #168 / @ches, i.e. `rm .ensime`, works but then I get no feedback from this plugin (or at least I think that's the reason why functions such as EnType display no result).

[2016-03-04 15:11] ChrisCoffey opened #173 "Test coverage fails to run on CI"
[code]

I'll look into this later today unless someone jumps on it.

[2016-03-05 16:20] ChrisCoffey commented on #148
I should be able to take care of this tonight after NE Scala ends.

[2016-03-05 16:22] ChrisCoffey commented on #170
#172 resolves this.

[2016-03-07 03:14] ChrisCoffey opened #174 "Support Public Symbol Searching"
Often times I find that I want to look up a particular function or type by name (or at least the part of the name I remember) but I usually fall back on grep or ctags. I've been playing around with ENSIME's public symbol search and it seems to fit what I'm looking for.

The only question I have left before pushing my changes for you guys to review is whether the results should go into the quickfix

[2016-03-07 03:59] ches commented on #174
I'd like this feature too, the Atom ensime plugin implements it IIRC, with
a pop-up palette. I'd vote for quickfix window—if it's possible (now or in
the future) to scope the search to a single file then location list could
be used in that case and it will be nice and uniform.

It would also be nice if ensime-vim exposed this as an API that could be
hooked/called by Unite, CtrlP, etc.

[2016-03-07 09:05] jvican commented on #168
Hi @ches, that is probably a very good idea. There are a lot of problems with the generation of the classpath from the vim editor, mostly because sbt is interactive and we have to execute it in another process and wait until it's finished. This is a very clunky process and sometimes it fails. Contributions are welcome, so if you want to play around with it go ahead :+1:

[2016-03-07 09:07] jvican commented on #173
Hi @ChrisCoffey, don't care about the tests, they've been failing for ages and we have to re-engineer the test suite. See #136.

[2016-03-07 09:09] jvican commented on #174
I see this feature in a quickfix window :smile:

[2016-03-07 14:27] ChrisCoffey commented on #170
@jvican This is closed by #171

[2016-03-07 14:27] #170 closed

[2016-03-07 14:29] ChrisCoffey commented on #148
@jvican @fommil Do you guys want have the ensime-vim readme point to [ensime.github.io](https://ensime.github.io) like the ensime-emacs project does? If not, this can be closed.

[2016-03-07 15:31] fommil commented on #148
Definitely redirecting! Consolidating the docs is the key.

[2016-03-08 03:03] ChrisCoffey commented on #174
@jvican ready for you to take a look.

I did not expose it as an API, although I'm more than happy to do that in the future.

[2016-03-08 09:07] jvican commented on #174
Let's leave the public API for the future because it's something that it affects quite a lot of features of `ensime-vim`.

[2016-03-08 09:08] #174 closed

[2016-03-08 09:08] #173 closed

[2016-03-08 09:09] jvican commented on #164
@mantognini You have to run `sbt gen-ensime` again. The `ensime-vim` plugin will only start working when the file `.ensime` is found (it's needed by the ensime server).

[2016-03-08 09:10] #148 closed

[2016-03-08 09:10] jvican commented on #148
Closed by #176.

[2016-03-08 09:11] mantognini commented on #164
@jvican Yes, I tried that but then I was back to the previous situation where it freezes.

[2016-03-08 09:13] jvican commented on #164
OS? Python version?

Go to `$HOME/.config/ensime-vim/${your scala version}/` and execute `sbt saveClasspath`. Update completely your plugin from upstream. Try again.

[2016-03-08 09:14] jvican commented on #164
Please, give me your vim version as well, just for the record.

[2016-03-08 09:14] mantognini commented on #164
Ok, I'll do that either later today or tomorrow. Thanks for your help. :-)

[2016-03-08 09:21] jvican commented on #164
You welcome. BTW, I'm also working at LAMP, so if you need me I'm at BC360.

[2016-03-08 22:18] jvican commented on #168
Have you solved the issue @ches? Any feedback?

[2016-03-08 22:26] casertap commented on #168
I was using iTerm and tmux the first time.
I tried again this morning using Terminall.app alone and I get the same result.

[2016-03-09 00:11] jvican commented on #168
Yes, unfortunately it's supposed to fail. We've been having that issue for ages. I'll try to solve it soon.

We've been doing some changes to the queue/unqueue logic (the guy responsible of this issue). It'd be awesome if you could try it with the latest version from upstream.

[2016-03-09 00:41] casertap commented on #168
Yes here is the detail of what I get from my test I just did now on master

[code]
I start vim and run :EnClasspath
I get this
[code]
I missed 3 lines of logs sorry.

Then I am back to vim. I see no improvement from envime-sim and my vim is stuck I can not quit using :q I need to shutdown the machine.

[2016-03-09 00:53] casertap commented on #168
I quickly pushed my source code on github: https://github.com/casertap/playing-with-actors

my config is pretty simple: I added this to: /root/.sbt/0.13/plugins/plugins.sbt
[code]

[2016-03-09 03:14] ChrisCoffey opened #180 ":EnDeclarationSplit Does not Split The Buffer"
@milescrawford mentioned that `:EnDeclarationSplit` was not splitting the buffer. We're overwriting the call options whenever we try to send a symbol at point req.

[2016-03-09 09:20] jvican commented on #180
Tracked by #181.

[2016-03-09 09:22] jvican commented on #168
Thanks for all the info! This would look like a very straightforward fix that we need to do on the vim side of the plugin. I'll look into it.

[2016-03-09 09:57] mantognini commented on #164
I'm not on campus today but here's the requested information:

 - OS: OS X 10.10.5
 - Python: 2.7.11
 - Vim: build from `brew` today, similar issues with gvim. [Detailed version information](https://gist.github.com/mantognini/d9d47420d089446a2f9b).
 - `~/.config/ensime-vim/` doesn't exist on my system and couldn't find a similar directory in my home folder:

[code]

Let me know if I can test anyth

[2016-03-09 10:16] casertap commented on #168
Just in case you are interested (if it can help)
Here are the command to use Docker and simulate my exact same environment.
You need to use my playing-with-akka repository

[code]
INSIDE THE CONTAINER (/code)
[code]
At this point you should experience the same problem as me.
Remember that the first time you are using sbt, it feel like it freeze but you actually need to wait (a lot).

To avoid this

[2016-03-09 10:51] casertap commented on #168
Damn! Rebuilding the images made me realize few things:
ensime-sbt needs scala 2.10
akka 2.4.0 needs scala 2.12

Ok I am changing in build.sbt
[code]

I realize the ensime-sbt snapshots have been renamed:
https://oss.sonatype.org/content/repositories/snapshots/org/ensime/ensime-sbt_2.10_0.13/

in /root/.sbt/0.13/plugins/plugins.sbt I change the version:
[code]

But I the end the bug persist.
I upd

[2016-03-09 12:04] casertap commented on #168
So after retrograding all the versions and build the .ensime again, run the :EnClasspath it worked fine...

In my project, I want to use the last version of akka (make use of java 8 closure and needs scala 2.11).
The very recent version of scala (2.12) also made tremendous progress and use java 8 as well.
Is that possible to work on updating ensime-vim with more recent versions of scala?

[2016-03-09 13:22] kstep opened #182 "Exceptions when used with Scalaz (Unicode in method names)"
Using with YCM via omnifunc integration.
Trying to complete the following line:
[code]

Got an exception:
[code]

[2016-03-09 14:12] jvican commented on #182
This is probably a problem of Python compatibilities, see [this](https://stackoverflow.com/questions/26619801/unicodedecodeerror-ascii-codec-cant-decode-byte-0x92-in-position-47-ordinal).

I'll take a look at this tonight. I need your version of Python and it would be very advantageous if you could tell me which ensime and ensime-vim version you're using.

[2016-03-09 14:14] jvican commented on #168
Hey @casertap, really glad to hear that!

We don't embed any scala version, the guy doing that is `ensime-server` so you could go there to ask. However, the very recent version of scala still doesn't have all the libraries in maven and that's gonna take a while...

[2016-03-09 14:17] ChrisCoffey commented on #182
is this failing in YCM's python code or ensime's? From the backtrace it looks like YCM is the source of the error.

[2016-03-09 14:30] #180 closed

[2016-03-09 14:47] jvican commented on #164
Ok, I fear that you'll need to wait until we fix that `vim` bug. In the meanwhile, if you need to get this working, I'd recommend you to use `neovim` which works perfectly with `ensime-vim`.

[2016-03-09 14:49] jvican commented on #165
Similar to #164.

[2016-03-09 14:49] #165 closed

[2016-03-09 14:51] jvican commented on #168
As you've already solved this problem, I'm gonna close this. Feel free to comment, though.

[2016-03-09 14:51] #116 closed

[2016-03-09 14:52] #157 closed

[2016-03-09 15:03] kstep commented on #182
@jvican:
[code]

ensime-vim from master branch at 1ad857704069e9bed59ed43f5c26c81e60520316.
ensime-server from [AUR](https://aur.archlinux.org/packages/ensime-server/) 0.9.10-5.

@ChrisCoffey it's possible, though I'm not 100% sure for now.

[2016-03-09 15:20] jvican commented on #182
Could you please give me the Python version that Neovim uses?

[2016-03-09 15:32] kstep commented on #182
Obviously 2.7.11.

[2016-03-09 16:23] mantognini commented on #164
I'll keep an eye on this issue then. (I've actually setup Atom to use ensime for the time being.)

[2016-03-09 16:33] jvican commented on #182
Why would it be obvious?

Python3 is officially supported and you have both versions installed. https://github.com/neovim/neovim/pull/2208

[2016-03-09 17:46] kstep commented on #182
@jvican thanks for the pointers!

It seemed obvious enough from logs (File "**/usr/lib/python2.7**/site-packages/neovim/plugin/host.py") that python2 was used. But after your comment I poked around, and made sure YCM is built for python3. The problem was, although YCM was really built for python3, it was using python2 to run things internally (with `py` vim command instead of `py`). I had to chang

[2016-03-09 17:46] #182 closed

[2016-03-11 16:28] jvican opened #188 "SuggestImport shuts down vim if you don't select any suggestion"
When I  type `EnSuggestImport` and a list of suggestions appear, if I don't want any of those and I cancel (press <ENTER>), vim shuts down.

Do you know something about this @kstep?

[2016-03-11 17:36] kstep commented on #188
Hmm. Never met such behavior. I use all my patches in production on quite large Scala project (about 800Ksloc) and never managed to crash it.

I use neovim, but also tried vim as well to verify the bug, and no, I can not reproduce it.
I tried pressing `Enter`, `Esc`, `0`. No matter what, both neovim and vim doesn't crash.

[2016-03-11 17:38] kstep commented on #188
Could you please provide some more info? Maybe an example of Scala code it is crashed on, maybe backtrace (if available), what symbol you are trying to get suggestion for.

[2016-03-13 15:21] ChrisCoffey opened #190 "Package Inspector"
It looks like ENSIME & the Emacs plugin have support for displaying an outline of a package's contents. Is this something we want to bother porting to ENSIME-Vim, or are we happy enough with ctags and other outlining options? I could go either way on this.

[2016-03-13 15:24] ChrisCoffey opened #191 "Write up a Getting Started Contributing section for docs"

[2016-03-13 15:26] jvican commented on #190
I think it's good if we don't rely on ctags for this and we do port it to ensime-vim :+1:

[2016-03-13 16:14] ChrisCoffey commented on #190
Works for me. I'm thinking the output should write to a narrow vertical buffer, similar to nerd tree. Does that sound reasonable to you @jvican?

[2016-03-13 16:25] jvican commented on #190
Perfectly reasonable @ChrisCoffey!

[2016-03-14 22:43] casertap opened #192 "Interested in seeing all the possible method signatures at typing time"
Hi guys,
I enjoy ensime-vim, very good work, thank you so much.

Is it possible to see all the possible method signatures at typing time?
For instance in the screenshot bellow I have the declaration on top and actorOf method has 2 signature:
[code]
in the buffer below I am creating a new actor using: system.actorOf...

![declaration](https://cloud.githubusercontent.com/assets/284394/13762333/5e33a

[2016-03-14 22:56] ChrisCoffey commented on #192
You can use the omni complete list, <C-x><C-o>, which pulls in what you
want.
On Mar 14, 2016 5:43 PM, "Pierre Caserta" <notifications@github.com> wrote:

[2016-03-14 22:59] casertap commented on #192
this is what I get by doing that:
![error](https://cloud.githubusercontent.com/assets/284394/13762668/9ae037dc-ea94-11e5-8bcf-b343670a7dfe.jpg)

[2016-03-14 23:04] ChrisCoffey commented on #192
Yikes. Can you link to the repo causing the issue? Also it would be helpful
if you can attach you server and ensime-vim logs. I'll take a look tonight.
On Mar 14, 2016 5:59 PM, "Pierre Caserta" <notifications@github.com> wrote:

[2016-03-14 23:30] casertap commented on #192
This is what is generated inside the ensime-vim.log
[code]
in server.log

[code]

.ensime
[code]

The repo is here:
https://github.com/casertap/playing-with-actors

here are the steps to build the exact same env as me using docker:
[code]
INSIDE THE CONTAINER (/code)
[code]

[2016-03-14 23:41] casertap commented on #192
Sorry I have updated the last post many many times :-)
I hope you will have sufficient info to solve this.
Thanks

[2016-03-15 02:45] ChrisCoffey commented on #191
Took care of this with ensime/ensime.github.io#77

[2016-03-15 02:45] #191 closed

[2016-03-15 04:32] ChrisCoffey commented on #192
I took a quick look at this and was able to replicate in your docker container, but not on a local copy of your code or on the ensime-server codebase. I run NeoVim locally though, so this may be the difference. I'll dig into this more tomorrow.

[2016-03-15 04:53] casertap commented on #192
I am running iTerm and tmux.

[2016-03-15 18:52] jvican commented on #188
Sure, I didn't provide more info since I haven't got much time lately and at that moment I was quite pressured. I'll do that in the next days.

[2016-03-16 07:42] casertap commented on #192
Hey Chris I do not understand. To replicate my bug you need to be inside of the container and neovim is not part the the Dockerfile so it is not installed inside the container.

After building the image:

[code]
you run the container and get a shell using the -it --entrypoint=/bash/bin option
[code]
I mount my local source code to /code using -v

Now you are inside the container and have access on

[2016-03-16 09:33] jvican commented on #192
Hi @casertap!

I think that your problem is that you miss a dependency. From the [installation guide](http://ensime.github.io):
Install Python’s websocket-client so that the plugin can communicate with ENSIME server.
[code]

I don't see that you're indeed installing this dependency in your `Dockerfile`.

[2016-03-16 09:53] casertap commented on #192
line 48.
yes it is install, the problem comes from something else.
I will install neovim and try.

[2016-03-16 10:40] jvican commented on #192
I'm sorry, I confused this issue with another one. I thought your problem was a messaging problem but it seems that it's only related to the completion. I will look into it soon.

[2016-03-16 11:10] casertap commented on #192
Ok, no worries.
I am really interested in using vim (and not emacs) as my development tool for scala. The only thing I will need is to see the different signatures for a method.
Tell me if you need anything.

[2016-03-16 11:41] casertap commented on #192
I added neovim to the container.
This means that ones are inside of the container, you can run nvim.
ensime-vim should be installed already but I had some trouble making ensime work with nvim.

As you can see in my dockerfile ( https://github.com/casertap/playing-with-actors/blob/master/Dockerfile ), I add Vundle to .janus and I
[code]
meaning that I have Vundle and ensime installed automatically

[2016-03-16 12:39] ChrisCoffey commented on #192
Hi @casertap, there was a bug in the omni-complete handler for Vim. Vim and Neovim have subtly different apis for handling omni-completion, and in fixing the Neovim one recently I broke compatibility with Vim. There is a pull ready for review now that will resolve this.

Thanks for the details replication steps on this issue, it was very helpful.

[2016-03-17 05:01] codyrioux opened #194 "ensime-gradle + ensime-vim incompatibility"
Using the latest gradle integration located on https://ensime.github.io I'm running into an issue in which I get an error about the property "scala-version" not existing. Python is throwing this specifically because it is missing from the config map loaded in the loader.py
[code]

If I generate the .ensime file using sbt (same dependencies) I get a much different sized file, and it functions. The

[2016-03-17 05:14] codyrioux commented on #194
Gist with the generated .ensime files [here](https://gist.github.com/codyrioux/223b798cfdd1b61e01b4).

[2016-03-17 09:24] #192 closed

[2016-03-18 02:16] ChrisCoffey opened #195 ":EnRefactor only updates local file"
The diff based refactor handling in the vim client only update the local file, while renaming a symbol should change all occurrences of it in the source.

Based on the (Scala Refactoring)[http://scala-refactoring.org/rename/] documentation, a `Rename` should trigger some sort of user interaction if the symbol is accessible beyond the current file. In the vim client, we simply update any occurrence

[2016-03-18 02:21] ChrisCoffey opened #196 "Implement InlineLocal Refactoring"
I've found myself wanting local inlining in a couple of places at work recently, so it was time to implement this.

[2016-03-18 02:49] ChrisCoffey commented on #194
If you're up for extending the launcher to support both plugins that's great! From the docs it looks like the original code was built to support only sbt, hence the break you're seeing.

As for the looping issue, could you take a look through your `.ensime-vim` log & post the 150 or so lines before you killed vim to a gist?

[2016-03-18 02:56] ChrisCoffey opened #199 "Semantic Highlighting"
The emacs client & server support semantic highlighting. Seeing how this is a pretty useful feature, it would be great if we supported it as well.

[2016-03-18 04:55] codyrioux commented on #194
Hey Chris,

I would be up for extending the launcher. I was unaware that the other build tools weren't supported. Once we get the rest of these details worked out I'll dig into what it'll take to support gradle ensime files. I used the sbt generated .ensime file and then ran ` :EnClasspath .`. Things seem mostly functional now (an :EnRename worked), I get some messages about the ensime server star

[2016-03-18 13:24] ches commented on #168
The classpath generation does [create an internal sbt project tied to a Scala version][1]. Since this evidently can lead to issues (and is a bit of a cumbersome approach), I'd propose removing it as I mentioned above. I haven't had a chance to work with ensime-vim since my earlier comment but I'll try to whip up a pull request, I think I have some time.

[1]: https://github.com/ensime/ensime-vim/b

[2016-03-18 13:38] ches commented on #194
It might be worth looking at the thread on #168 and considering if it even makes sense for ensime-vim to try to handle the classpath generation when the build tool plugins should already do a good job of that—the Ensime plugins for most other editors appear to just defer to them for the task.

The ensime-server launching part shouldn't need to be build tool-specific (and doesn't appear that it is

[2016-03-18 13:59] jvican commented on #168
Sorry, but that's a misunderstanding. We don't embed that scala version, that scala version is embedded by the plugin ensime-sbt that creates all the bootstrapping for ensime-vim. You already install it, since it's a requirement for the vim plugin to work. That is generating only the task that sbt will detect and execute afterwards. We're just following the standard recommended way to generate the

[2016-03-18 14:03] jvican commented on #194
Just for the record, support for Gradle was added recently, so we haven't updated this to work with other build tools. I'd like it to be compatible with more @codyrioux  :+1:

[2016-03-18 14:05] jvican commented on #168
If what you're proposing is to defer the the classpath generation to the particular buiild tools, I'm up for it, that'd remove a lot of boilerplate-y code that we have only to handle that feature. And also, sometimes it's quite buggy.

[2016-03-18 15:02] ches commented on #168
Yes sorry @jvican, I didn't mean to imply that ensime-vim was "embedding" any specific Scala version, just that its strategy of generating a hidden `built.sbt` to bootstrap the ensime server could possibly lead to confusion on this point. Like if Scala 2.10.x was the default on @casertap's `PATH` or in a project sbt config when he first started out (so ensime-sbt put that version in `.ensime` and

[2016-03-18 15:03] ches commented on #168
Btw @casertap the Scala version used to *build* sbt and its plugins like ensime-sbt does not limit the version used by your projects and dependencies—sbt will resolve plugins for its version and then use whatever compiler version you've set to build your project. I can't tell above what issues you were having with version differences but perhaps there was a red herring?

[2016-03-18 19:47] jvican opened #200 "Unknown operator when using syntastic"
Hi @kstep, here you have the info of the bug I told you about. I just have to `:w` on any recent opened file and I'll get these errors in the blink of an eye. I am using neovim but this is also reproducible with vim. I am using `vim-scala` as well, which provides Scala highlighting and a lot of other useful stuff (it uses syntastic as well).

Screenshot:
![2016-03-18-203947_1920x1200_scrot](https:

[2016-03-19 02:25] #196 closed

[2016-03-19 02:51] ChrisCoffey commented on #200
@jvican is this on a separate build of ensime-vim? I just tried repping this on the f-p project and didn't have any issues, despite using Syntastic and vim-scala as well.

Here's my `:SyntasticInfo`:

[code]

could you share yours as well?

[2016-03-19 14:19] jvican commented on #200
Mine:
[code]
The only difference is that ensime is not listed in `Currently enabled checkers`.

[2016-03-19 16:30] ChrisCoffey commented on #200
I actually manually added ensime to my checkers right before posting that
output, so it seems that our setups are identical, yet I don't see any
issues.

Are you running python 2.7 or 3?
On Mar 19, 2016 10:19 AM, "Jorge" <notifications@github.com> wrote:

[2016-03-19 18:34] jvican commented on #200
You have to do it on the branch `feature/add-map-flatmap`. But anyway, I just found the error. The problem comes from the server, since I receive these messages (note the weird parameters and, especially, the `-1`s which are the one causing the error since syntastic expects positive numbers.)

Message:
[code]

I'll be submitting a PR to fix this in some hours. Also, I think I just found the reason

[2016-03-19 18:50] jvican commented on #200
@fommil is this a new bug in `ensime-server`?

[2016-03-19 19:16] jvican commented on #188
Disappeared, closing...

[2016-03-19 19:16] #188 closed

[2016-03-20 17:30] #200 closed

[2016-03-22 09:31] gigiigig opened #205 "YouCompleteMe `UnicodeDecodeError`"
I have this error using ensime and YouCompleteMe together,
I have a small projects where it works well but in bigger projects I get this error when I press `.` and youcomplete me should create the list of suggestion, in I press enter to close the error and then keep typing the suggestions appear, so ensime is working properly.
[code]

This is my config:
Mac Os 10.11.4
NeoVim 0.1.2
Ensime 0.4.1-SNA

[2016-03-22 13:52] jvican commented on #195
`EnRefactor` is expected to work once this issue is resolved: https://github.com/ensime/ensime-server/issues/1133. So we should wait until that. The `EnRefactor` behaviour is explained in the docs.

[2016-03-22 13:55] jvican commented on #205
This has already been reported before and it's related to an error with the Python version. It'm not sure if it's an `ensime-vim` error (I think that someone fixed it by playing around with `YouCompleteMe`).

However, I think I know what's happening. I'll be submitting a PR to address this problem early tonight.

[2016-03-22 14:00] ChrisCoffey commented on #205
@gigiigig see #182 that @jvican referenced

[2016-03-22 14:02] jvican commented on #205
Thanks for the reference @ChrisCoffey! I couldn't find it.

[2016-03-22 14:19] gigiigig commented on #205
@jvican @ChrisCoffey I applied that fix to YCM and it works now, thanks! Feel free to close the issue if this can't be fixed form ensime-vim.

[2016-03-22 16:49] gigiigig commented on #205
Nope, had the same error after a while.

[2016-03-23 15:21] #190 closed

[2016-03-23 15:22] ChrisCoffey opened #207 "Include Symbol Type in Package Inspector"
`PackageInfo` objects from Ensime contain information on whether a symbol is a class, trait, etc... We should include this information in the package inspector's output.

[2016-03-23 15:26] ChrisCoffey opened #208 "Open Symbol Declaration From Package Inspector"
The Package Inspector contains all of the top-level symbols defined within a package, so we should allow users to jump directly to the symbol declaration from the inspector. I'm thinking we can do this by performing a `SymbolByNameReq` then opening the resulting file in a new buffer.

Thoughts?

[2016-03-23 22:20] jvican commented on #208
Yes, that's how I'd do it.

[2016-03-24 13:09] jvican commented on #205
Ah! I know what's happening: ensime-server returns non-ascii symbols like arrows and stuff, so when YCM tries to decode the strings it fails. This is a YCM bug and you should go there to ask for a solution @gigiigig.

[2016-03-24 13:10] #205 closed

[2016-03-24 13:18] #195 closed

[2016-03-24 13:19] jvican opened #209 "Disable typecheck when writing file"
Make the type check of a file explicit and remove the hook that type checks a file whenever that file is written.

[2016-03-24 13:20] jvican commented on #199
Are you up for taking this @ChrisCoffey?

[2016-03-24 13:22] ChrisCoffey commented on #199
Not in the next couple weeks.
On Mar 24, 2016 9:20 AM, "Jorge" <notifications@github.com> wrote:

[2016-03-24 13:25] jvican commented on #199
No prob, there's no hurry. And also, feel free to unassign yourself from any issue if you see you won't be able to do it. Cheers!

[2016-03-24 14:10] gigiigig commented on #205
@jvican Ok I'll ask them then, Thanks!

[2016-03-25 18:13] codyrioux commented on #194
Sorry about the delay in responding here, I'm presenting at Strata + end of quarter at work has me a little held up. I should be able to dig in much deeper next weekend.

[2016-03-28 13:44] ChrisCoffey opened #211 "Upgrade debugging implementation"
@2chilled reported that our debugging implementation is outdated to the point of not being supported by the current version of ensime-server. Turns out we're sending `DebugStartReq` to the server instead of `DebugAttachReq`, which prevents the debugger from correctly launching.

[2016-03-28 14:23] ChrisCoffey opened #212 "Implement Debug Stepping"
Right now we've implemented the ensime  server's breakpoint api, but not the step api. While you can accomplish stepping with just breakpoints, we may as well support the full step api.

[2016-03-28 16:46] ChrisCoffey opened #213 "Implement Debug Inspection"
We have not implemented the Ensime debug inspection api. Like stepping, you can work around this with other tools but it's probably simplest to implement the API directly.

[2016-04-02 02:32] #207 closed

[2016-04-02 02:32] #211 closed

[2016-04-02 07:04] 2chilled commented on #213
@ChrisCoffey I'm not clear about the workarounds for missing debug inspection, can you give me a hint?

[2016-04-02 14:55] ChrisCoffey commented on #213
Oh, I was just talking about how it's possible to set manual breakpoints in lieu of stepping. Not a true workaround. I've updated the description to remove the ambiguity.

[2016-04-02 15:00] ChrisCoffey commented on #213
updated to remove the ambiguity

[2016-04-02 15:35] ChrisCoffey commented on #136
How do you feel about using a Cucumber dialect like [Lettuce](http://lettuce.it/tutorial/simple.html#tutorial-simple) so we can share tests between emacs & vim?

I'm pretty excited by the prospect and would love for our CI to work again, so I'm willing to take this on.

[2016-04-03 19:32] #208 closed

[2016-04-03 19:55] #209 closed

[2016-04-05 15:09] ches commented on #168
So, I've just gotten the chance to start from scratch, and I'm still finding the same behavior that @casertap has reported in the course of this ticket: at this point, everything is technically working for me (e.g. I can start the ensime server with `:EnClasspath` and get some valid query responses like from `:EnType`), but the error bell is being triggered every second and Vim is unusably slow. W

[2016-04-05 16:53] ChrisCoffey commented on #168
I'm going to reopen this since it sounds like @casertap 's error bell never fully stopped. If this turns out to be a distinct issue I'll re-close this and open a new ticket.

@ches can you attach your server.log & ensime-vim.log files or put their tails in a gist?

[2016-04-05 17:03] ches commented on #168
Ah, just realized that `ensime-vim.log` exists, we should perhaps mention this in the issue template and troubleshooting docs 😄

Here are my logs and `.ensime`: https://gist.github.com/ches/9af6c5173205f03335a31ae5916b3339

[2016-04-05 17:11] ChrisCoffey commented on #168
great, I'll take a look at this tonight when I get home

[2016-04-05 17:15] jasonij commented on #168
Okay, I've been lurking on this one because I too have the bell bell bell problem (on neovim).

[2016-04-06 00:01] codyrioux commented on #194
I need to ensure a sane environment before I start working on the gradle support. I've got an SBT project that seems to work just fine. Judging from the log it looks like the server and vim are interacting well with one another but I can't test simple things like `:EnType` since the status line gets blown over by the `not found: \e` message.

I don't have much experience debugging vim plugins, is

[2016-04-06 01:47] ChrisCoffey commented on #194
I think the problem you're seeing is caused by an invalid escape sequence due to some incorrect quoting. Should be addressed by #218

[2016-04-06 02:07] ChrisCoffey commented on #168
I suspect, but am not positive that #218 will address this.

[2016-04-06 07:46] jvican commented on #168
Yes, positive, #218 addresses this.

[2016-04-06 07:46] #168 closed

[2016-04-06 09:40] ches opened #220 "Don't write file when invoking completion"
Currently `complete_func` invokes `self.vim_command("write_file")` when starting completion—is this necessary?

My assumption is that it was done either to try to get the most up-to-date accurate state of source possible, and/or to be extra cautious in case of a crash being caused. But it's super annoying if, say, you're using sbt triggered execution: compiles are certainly going to fail when I'm

[2016-04-06 14:12] jvican commented on #220
Actually yes, go ahead, it's no longer necessary ;)

[2016-04-06 16:23] kiambogo opened #222 "MacVim support"
I've followed the installation docs, and Ensime is working when using vim through terminal.
However, when opening a Scala file with MacVim the following appears

    websocket-client missing: do a `pip install websocket-client` and restart vim

The websocket-client is installed, as proved by the fact that Ensime is working in vim through terminal. Any idea why MacVim would not be finding the webso

[2016-04-06 16:40] ChrisCoffey opened #223 "Package Inspector Does not open symbol immediately"
The Package Inspector does not actually open the targeted symbol until the user moves to another buffer. It should instead open a new buffer & jump to it as soon as the results are returned from the server.

[2016-04-06 16:44] ChrisCoffey opened #224 "Provide Plugin Mappings for Common Commands"
@ches made a great point in the chat room that we should provide some default mappings for common commands. I personally have defined about a dozen different mappings for Ensime, and I'm sure the community has many more they use.

It would be great to introduce commands for:
[code]

Please add any more you can think of.

[2016-04-06 16:52] ches commented on #222
How did you install MacVim, and is the terminal `vim` on your path the OS X system `/usr/bin/vim` or something else? Chances are that they're built against different Python installations and the Vim you're launching in terminal is using the one where you've got `websocket-client` installed. This can be a bit of a hassle to keep straight…

Personally I install with Homebrew using:

    $ brew insta

[2016-04-06 17:05] ches commented on #223
See #217 and #219 for some context/history.

[2016-04-06 17:08] ches commented on #224
A nice thing about getting into the pattern of `<Plug>` mappings is that they can be useful for things that don't necessarily make sense exposing as commands, like @ChrisCoffey had reservation about with #217. In that case there could be e.g. a `<Plug>(ensime-inspector-open-vsplit)` or whatever that maps directly to a function instead of needing to expose a mapping. Users can add their own mapping

[2016-04-06 17:17] ChrisCoffey opened #225 "EnSymbol does not print results"
### Steps to reproduce

1. Open a scala file
2. Run EnSymbol

### Expected behaviour
Should print the file path for the symbol under cursor

### Actual behaviour
nothing happens

[2016-04-06 17:47] ches commented on #224
The matter of `<Plug>` mappings aside for a moment, here are mine so far just in case anyone wants a starter or to adapt to what could become a "suggested mappings" doc section:

[code]

I haven't used debugging yet, those would probably be good additions (along with some more detailed docs on how to use it!).

[2016-04-06 18:43] kiambogo commented on #222
Great - thanks for the information. I think you were correct in stating that they're built against different Python installations. I re-installed MacVim, and symlinked pip in `/usr/local/bin` to point to the Homebrew-installed pip and things are working now. :)

[2016-04-06 18:43] #222 closed

[2016-04-07 01:41] #220 closed

[2016-04-07 13:55] ChrisCoffey commented on #194
@codyrioux Let me know if you're still blocked now that #218 has landed

[2016-04-07 20:04] codyrioux commented on #194
@ChrisCoffey Thanks! Looks like it works, I have a verified sane environment in a very small SBT project. Going to convert it to a gradle project and move forward from there on ensuring compatibility.

[2016-04-07 21:36] codyrioux commented on #194
A little bit of reformatting of the produced .ensime file from gradle seemed to do the trick, so I've confirmed it isn't a fundamental issue about the output. Just some most robust parsing is necessary. I'll work on this in the near future.

[2016-04-08 12:40] #225 closed

[2016-04-08 12:41] jvican commented on #224
I really like the idea, very good point :smile:

[2016-04-08 12:41] #223 closed

[2016-04-08 12:43] jvican commented on #213
Yes, I definitely agree we should implement this API and not rely on other third parties.

[2016-04-08 12:45] jvican commented on #164
There's been some good work on `ensime-vim` and there's a high probability this has already been fixed. Please try again, and remember to follow the troubleshooting guide in case of any problem. Beware that if there's no reply in the next days, I'm closing this!

[2016-04-08 12:46] jvican commented on #136
I think it's a great idea that I'd like to see implemented. I actually looked into this when Sam commented it, but I didn't see any feasible way of integrating it into `ensime-vim` in a clean way. If you can find it, please go ahead, this would be probably one of the best features of ensime-vim by far.

[2016-04-08 12:49] jvican commented on #222
Thanks for taking over this @ches.

[2016-04-08 13:56] ches opened #231 "Make implementation details of Package Inspector private, instead of using commands"
The Package Inspector feature has used two commands which are essentially internal implementation details, `:EnPackageDecl` and `:EnSymbolByName` (see #217). These lead to confusion like #239, and the below struck-out stuff of my own.

I think we could support the feature with greater encapsulation. My initial thought was using script-scoped functions (`s:foo`), exposed/called as a `<Plug>` mappin

[2016-04-08 13:59] ches commented on #231
Forgot to note in the issue body: I'm guessing this command might need to be wired up like #227 did.

[2016-04-08 14:08] ChrisCoffey commented on #231
It's actually not intended to work like `:EnSymbol` but rather like ':EnDeclarationSplit v', so this is more of an issue with the naming than anything else.

I added this to support the Package Inspector's jump-to-definition

[2016-04-08 14:14] ChrisCoffey opened #232 "Standardize Commands to use Arguments instead of Input Prompts"
There are two issues here:

1. We use arguments for some commands (`:EnShowPackage`), but prompt users for input on others (`:EnSearch`). This behavior is confusing for pretty much everyone, and the prompt behavior is less expected.
1. In addition to being somewhat unexpected, prompts are a bit more difficult to script against as they require the user to remember to add a `<cr>` to trigger the pro

[2016-04-08 14:18] ches commented on #232
It's cross-referenced above but just so it's obvious, see prior discussion on #229.

[2016-04-08 14:21] ches commented on #231
Oh right, I completely forgot (and wasn't looking at the source) that it was an implementation detail of the Package Inspector. Could we just use a function for that (possibly private, `s:foo`), instead of exposing a command? I know you had reservations about that before. This was the case that made me think about instead exposing a `<Plug>` mapping to such a function, so users could change the ma

[2016-04-08 14:27] ChrisCoffey commented on #231
That'd be great. I'll take a stab at this as well later tonight.

[2016-04-08 14:29] ches opened #233 "Use current file/scope's package by default for :EnShowPackage"
This is an enhancement idea, see #229 for some history.

`:EnShowPackage` currently requires typing out a fully qualified name as an argument to the command, which is kind of painful. It's often (usually?) the case that you want to use it for the package you're currently editing, so we could try to make that work when you invoke the command with no argument.

[2016-04-08 15:02] ChrisCoffey opened #234 "Add ensime-vim to vim.org script directory"
This project is the successor to vimside and it makes sense to to publish ourselves on the vim.org script directory, if for no other reason that to help spread the word.

[2016-04-08 17:13] mantognini commented on #164
Maybe I did something wrong but I'm still facing the same issue; I can't quit vim without `kill -9 <pid>`. Also, I seem unable to launch the server -- `.ensime_cache/server.log` reads `Error: Could not find or load main class org.ensime.server.Server`. I tried the troubleshooting steps without luck. Note that I'm not using the latest vim. Unfortunately, I won't have time to investigate further soo

[2016-04-08 17:22] codyrioux commented on #194
I see your WIP commit on your fork. I had wondered if you'd be open to adding a dependency on a full S-expression parser. Is there anything I can do to assist?

[2016-04-08 17:25] ches commented on #194
@codyrioux You beat me to finishing my pull request comment before I could comment here 😄   See what you think of #235, and it'd be great to know if it handles the Gradle plugin output now.

[2016-04-08 17:59] codyrioux commented on #194
@ches Tested on an admittedly simple file and the sbt version still functions, and the gradle version functions at least as well as the sbt version does. Looks like you've solved it!

Tested With:

`Plug 'ches/ensime-vim', { 'branch': 'dot-ensime-sexp-parser' }`

Thanks.

[2016-04-19 11:32] #164 closed

[2016-04-19 20:40] ches opened #236 "Prevent the launcher from being started if user hasn't installed sexpdata"
See the unfinished TODO from #235, this seems to be catching people off guard so it ought to get done soon. I'll try to find time.

~~I'm also about to send a PR for the doc site to try to make it more obvious in the installation instructions.~~

Half of what I originally intended this to be, @ChrisCoffey took care of in #265—it was easier than I thought it was on first look. The other half I beli

[2016-04-20 11:52] jvican commented on #236
:+1:

[2016-04-21 08:29] jvican opened #237 "No handler for BufEnter or other autocommand events"
There's no handler for the event `BufEnter`, which usually gets fired when switching between windows of different plugins. An exception is thrown. I'll add one in the next days.

[2016-04-21 09:17] jvican commented on #237
This error typically happens when neovim remembers that there should be a handler for `bufenter`, `bufwrite`, etc. The solution is to execute: `:UpdateRemotePlugins`.

[2016-04-24 10:03] NickHu opened #238 "Create a deoplete source"
It would be great if this ensime had a deoplete source, documented [here](https://github.com/Shougo/deoplete.nvim/blob/master/doc/deoplete.txt#L541), for asynchronous code completion.

[2016-04-24 10:09] jvican commented on #238
Yes, it would be great. Feel free to contribute to the project and make a PR :smile:

[2016-04-24 14:00] yyadavalli commented on #238
deoplete has an `omni` source, which takes a vim regex pattern based on filetype. I was able to get autosuggestions based on that.

[code]

If we have good pattern this is should be good.

The only issue may be that `omni` source is not asynchronous in deoplete.

[2016-04-24 14:19] yyadavalli opened #239 "EnPackageDecl is not documented"
The command `EnPackageDecl` is not documented. In my case its not working, so not able to figure out what it is doing.

[2016-04-24 14:56] ches commented on #239
This is basically the same issue as what #231 now represents, but that one ought to be renamed to make that clearer—I'll do that now.

[2016-04-24 22:13] ChrisCoffey commented on #237
Is this actually an issue, or was it simply an outdated definition in neovim that `:UpdateRemotePlugins` resolved?

[2016-04-24 22:33] jvican commented on #237
As I pointed out before in my last comment, it was solved by doing `:UpdateRemotePlugins`.

I'm going to leave this issue opened for a while in case it happens to other people, as it's a pretty recurrent problem with neovim.

[2016-04-25 01:31] ChrisCoffey opened #240 "EnShowPackage Throws Exception"
the `append_line` command shortcut was mistakenly removed in a recent pull. This breaks the show package functionality.

[2016-04-25 01:50] ChrisCoffey commented on #240
Introduced by #230 , probably a typo.

[2016-04-25 09:34] jvican commented on #238
Thanks @yyadavalli, very valuable information. We will probably add this to the docs soon. :grinning:

[2016-04-25 09:36] jvican commented on #136
Hey @ChrisCoffey, just checking in, are you doing progress on the new test suite?

[2016-04-25 13:26] yyadavalli commented on #238
Welcome @jvican, any suggestions on a better pattern would be really helpful.

[2016-04-25 14:09] ChrisCoffey commented on #136
I've been poking around with it, but was on vacation last week, so no real progress. At this point my plan is to chop this up into smaller tasks so folks can start picking them off.

[2016-04-25 14:11] jvican commented on #136
That’s a great idea. Keep up the good work :smile:

[2016-04-25 15:10] NickHu commented on #238
The first two lines of your config aren't necessary.

[2016-04-27 00:56] ChrisCoffey opened #243 "Remove redundant fun_ prefix"
Remove `fun_` prefix from functions introduced by the plugin. Purely a stylistic point, but it would be nice to clean up the names.

[2016-04-27 01:00] ChrisCoffey opened #244 "Clean up Function Signatures for plugin-specific functions"
Right now `@execute_with_client` takes two parameters, `args` & `range`. These make a great deal of sense for commands, but it's more confusing for functions introduced for other workflows like omnicomplete or package exploration.

[2016-04-27 08:15] jvican commented on #243
/cc @ches

[2016-04-27 08:19] jvican commented on #244
I do not mind to have this feature if we have a general way to bind between vim functions and python functions without increasing the code size. The whole purpose of `@execute_with_client` is to remove all the unnecessary code.

[2016-04-28 14:41] #239 closed

[2016-04-28 14:41] #231 closed

[2016-04-28 14:41] #240 closed

[2016-04-29 13:34] ChrisCoffey opened #246 "Refactor EnsimeClient into Mixins"
The `EnsimeClient` has a lot going on, and I personally have found it a bit painful to navigate. I'd like to factor out the Package Inspector, Debugger, & Symbol Browser components into their own mixins.

This should only be a code re-org, I don't intend to change any logic. That being said, my hope is that this may make unit testing a bit simpler as well (at least insofar as we can easily focus o

[2016-04-29 14:14] jvican commented on #246
W.r.t. the test suite, I agree that this will make it easier. However, I'd expect to have a minimal PR of the test suite before starting to tackle this issue. At the point when there's a a minimal PR, I think it'd be a good idea to evolve both PRs jointly. I'd propose this to ensure spending time on this when it's not meaningful for the test suite, which should have highest priority.

Also, just a

[2016-04-29 16:37] ChrisCoffey commented on #246
I can see the test first then cleanup viewpoint. I was finding myself spending more time jumping through the main file than I wanted though, hence the mixin class.

Rather than evolving PR's I'd prefer small incremental changes to land before the next PR does. I'm happy to chat about this more on Gitter if you want.

[2016-05-01 01:50] yyadavalli opened #249 "Hangs on classpath generation"
Running `:EnClasspath` hangs with the message `Waiting for generation of classpath...`
on `NVIM 0.1.4 after #242

Exploring `top` shows that sbt was not started, so I believe there is a problem with the terminal command constructed.

The issue was fixed by reverting
`self.vim.command("terminal sh \"({} && {})\"".format(cd_cmd, sbt_cmd))`
to
`self.vim.command("terminal ({} && {})".format(cd_cmd, sb

[2016-05-01 11:43] jvican commented on #249
Introduced by https://github.com/ensime/ensime-vim/pull/242. Up for a PR @yyadavalli ?

[2016-05-01 13:20] yyadavalli commented on #249
@jvican Sure, do you have any other ideas for a workaround or should I just put in a check for `fish`

[2016-05-02 08:29] #249 closed

[2016-05-02 15:22] ChrisCoffey commented on #234
http://www.vim.org/scripts/script.php?script_id=5382

[2016-05-02 15:22] #234 closed

[2016-05-02 15:28] yyadavalli commented on #243
I can send a PR for this, if we are moving forward with the change

[2016-05-02 15:32] jvican commented on #243
Hey @yyadavalli, I think that @ches was planning to hack on this. There're some opened issues that need to be resolved, though. Maybe you would be interested in picking them, especially the ones related to the debugger. This would be a great feature to have (it's not complete atm).

[2016-05-02 15:55] #232 closed

[2016-05-02 16:15] yyadavalli commented on #243
@jvican  Sure, I am looking into the debugger related issues, not sure how much I can do on those. I will comment on those once I am satisfied that there is some progress

[2016-05-04 14:50] atnoya opened #255 "Opening scala file launches hundreds of Compile Server instances"
If you've come straight to the issue tracker out of habit, you might want to read the [Getting Help](http://ensime.github.io/getting_help/) or [ENSIME-Vim Troubleshooting](http://ensime.github.io/editors/vim/troubleshooting/) sections of the documentation.

If it still looks like a client bug and you've come back here, be aware that there is very little we can do unless you provide us with a repro

[2016-05-04 15:49] ChrisCoffey commented on #255
Hi @atnoya , I wasn't able to reproduce this locally on my own mac. Have you run ensime-vim before or is this a new install?

[2016-05-04 16:21] atnoya commented on #255
It's a new install, tried sbt-ensime 0.5.0 and 0.4.0, also updated plugins, and using neovim (normal vim is not working for me with ensime-vim, haven't had time to check the reason). I can paste here my .vimrc if u need.

I also tried removing .ensime_cache and regenerating.

[2016-05-04 17:48] ChrisCoffey commented on #255
Would you mind posting your .ensime file, .ensime_cache/ensime-big.log, and
vimrc?
On May 4, 2016 12:21 PM, "Adrian Tubio Noya" <notifications@github.com>
wrote:

[2016-05-04 22:13] atnoya commented on #255
@ChrisCoffey my apologies, for some reason, after I desperately run `:UpdateRemotePlugins` twice, it started working 😳. It still doesn't work in normal `vim` but I'll give it a few tries before opening another issue. Closing this one!

[2016-05-04 22:13] #255 closed

[2016-05-05 09:52] jvican commented on #255
I think that this issue is related to ensime-server, not ensime-vim. IIRC, they've been doing changes lately.

[2016-05-05 18:09] ChrisCoffey opened #256 "Race Condition: Two instances pointed at same project"
Moved from comments on #253

There are situations where vim will hang on quit when the ensime plugin is enabled. This happened to me a bunch of times when my configuration wasn't correct (missing python modules, the fish fix in #242 not being in), and it happens occasionally when running other times.

I can reliably reproduce it by:

Start up vim-with-ensime in a project, and let the plugin initia

[2016-05-07 01:44] ChrisCoffey opened #258 "Support Java"
At this point Ensime effectively supports java out of the box. Lets look into adding java filetype support as well. I suspect this should be an easy win.

[2016-05-07 22:58] ktonga commented on #238
The main disadvantage of using `g:deoplete#omni_patterns` is that `omnifunc` is called from Vim in a synchronous way, so it blocks you typing until the completion is ready.
After merging #259, `g:deoplete#omni#input_patterns` can be used instead, so the completion will be processed asynchronously while you keep typing. It's the setting recommended in __deoplete__'s documentation.

[2016-05-08 01:53] #238 closed

[2016-05-09 21:25] ChrisCoffey opened #260 "Support Local Assembly Jar"
Right now Emacs supports an alternative startup mode where the presence of a local version of the Ensime server jar circumvents the classpath file. This would be extremely useful for local testing.

Right now my workaround is to bump the server version, publish locally, bump the version the plugin looks for, then remember to roll back all the version changes & remove the local version from my `.iv

[2016-05-15 02:51] yyadavalli commented on #260
@ChrisCoffey what do you think would be a good location to check for the presence of a jar. I can make this change and send a PR

[2016-05-17 02:29] ChrisCoffey commented on #260
I'd be happy supporting a jar in `~/.config/ensime-vim/`. The presence of a jar there should be placed at the head of the classpath.

[2016-05-17 02:34] yyadavalli commented on #260
@ChrisCoffey wouldn't it replace the classpath from file

[2016-05-19 19:09] #260 closed

[2016-05-20 00:05] ChrisCoffey opened #268 "Test cases for Refactor workflows"
As part of the test plan, we need to support the various refactor workflows:

- Rename
- Organize Imports
- Add Import
- Inline Local

We should ensure that requests are constructed properly & that successful responses from the server are applied as expected.

[2016-05-20 00:07] ChrisCoffey opened #269 "Test cases for Debugger Workflows"
As part of the test plan, we need to support the various debugging workflows:

- Debug Attach
- Set Breakpoint
- Clear Breakpoint
- Continue
- Print Backtrace

We should ensure that requests are constructed properly & that successful responses from the server are applied as expected.

[2016-05-20 00:11] ChrisCoffey opened #270 "Test cases for Type Information"
As part of the test plan, we need to support the various type inspection workflows:

- EnType
- EnInspectType

We should make sure we properly send requests for single character symbols & symbols w/ `_`.  Also that we display information for functions, traits, etc...

[2016-05-20 00:13] ChrisCoffey opened #271 "Test cases for Omni Completion"
This should test:

- Server Requests constructed correctly
- Responses are handled correctly
- Vim callback api is handled correctly

[2016-05-20 00:16] ChrisCoffey opened #272 "Test cases for Symbol Search"
Pretty straightforward, but we need to make sure search terms are constructed correctly for `EnSearch` & that we populate the quickfix list correctly on the response.

[2016-05-22 18:56] #167 closed

[2016-06-02 11:56] ChrisCoffey commented on #194
I believe this has been resolved, I'll reopen if this turns out not to be the case.

[2016-06-02 11:56] #194 closed

[2016-06-03 12:25] ktonga opened #273 "Completion: Several problems regarding type formatting"
In the completion popup, specially for __functions__, the type hint may be ok for simple signatures, but it easily gets messy for complex ones. Here you have an example for `Seq.fill`:

What __Intellij Idea__ reports:
<img width="709" alt="screen shot 2016-06-03 at 9 59 43 pm" src="https://cloud.githubusercontent.com/assets/1324947/15777970/907c371a-29d6-11e6-8507-a0c4ad3606ca.png">

What __ensime

[2016-06-03 13:59] ChrisCoffey commented on #273
Sounds great. Please ask if you get stuck.
On Jun 3, 2016 08:25, "Gastón M. Tonietti" <notifications@github.com> wrote:

[2016-06-03 14:38] jvican commented on #273
Regarding the "fully qualified names" issue, you can work around it by using the ensime command `EnToggleFullType`.

[2016-06-04 02:46] ktonga commented on #273
@jvican I checked the code and it formats the signature directly using the "sections" field which only has the full names and is hard to manipulate due to its lack of structure.

On a side note, I don't think it's necessary to make it configurable. 93% of the times, full names in the signatures is useless and confusing. I saw this number once in a Harvard research :P

[2016-06-05 14:17] Jacoby6000 opened #274 "EnDocBrowse prepends localhost"
To repro:

[code]

Call `EnDocBrowse` with the cursor hovering over `getSeconds`

Resulting URL is
[code]
Expected
[code]

[2016-06-05 18:03] jvican commented on #274
Are you sure this is not an issue of the server? It really looks like it is.

[2016-06-06 16:56] ktonga commented on #273
Well, today I was able to make some progress, and this is the result so far:

Before
![snapshot12](https://cloud.githubusercontent.com/assets/1324947/15830185/5499b84a-2c5a-11e6-8d68-ee248e4895c8.png)

After
![snapshot13](https://cloud.githubusercontent.com/assets/1324947/15830200/656c70b8-2c5a-11e6-8c8a-b6fd0da70ed1.png)

It's almost finished, I'm only missing a way to add the type params to the

[2016-06-06 18:08] ktonga opened #276 "Add type params list to method signature in completion popup"
Depends on ensime/ensime-server/#1504

[2016-06-06 18:11] ktonga commented on #273
Adding type params list to methods signature is not possible with the available information in the response.
It will need some work on the server first. So let's track it with #276

[2016-06-06 20:24] aemoncannon commented on #273
looking good so far...

On Mon, Jun 6, 2016 at 1:11 PM Gastón M. Tonietti <notifications@github.com>
wrote:

[2016-06-07 14:14] atnoya opened #277 "Aggregate errors before passing them on to syntastic until the FullTypeCheckCompleteEvent is received"
When performing big refactorings, syntastic blocking behaviour really gets in the way, it really makes neovim pretty unusable for quite a bit of time when the number of errors is pretty big

Would like to suggest/ask for a way to tell ensime-vim to aggregate the new error notes until the `FullTypeCheckCompleteEvent` is received. Appending all them together upon the reception of such event.

[2016-06-07 14:31] fommil commented on #273
btw you might want to consider using `:name` instead of `:full-name` to keep the completion view manageable! :smile:

[2016-06-08 10:46] ChrisCoffey commented on #274
@Jacoby6000 you're correct that we prepend `http://127.0.0.1/<ensimePort>/` onto the doc uri response. Unfortunately all we get back from the server is a string, so whatever we do will be a bit hacky.

That being said, a simple check whether the response string starts with `http` should go a long way to resolving this.

[2016-06-08 11:04] jvican commented on #274
In that case, a simple PR should address this easily. Up for it @Jacoby6000 ?

[2016-06-09 14:56] chipsenkbeil opened #280 "Errors after running :EnClasspath"
So, I'm trying to set up vim with ensime to work on the ensime-server project. From reading the docs online, my assumption was that I do the following:

1. Run `sbt ensimeConfig` from the root of the project
2. Start vim
3. Run `:EnClasspath` once when first starting the project

After running `:EnClasspath`, I'm told to hit enter to continue after various libraries are resolved and downloaded. Th

[2016-06-09 15:05] ChrisCoffey commented on #280
@chipsenkbeil is there any additional information in the `.ensime_cache/ensime-vim.log`?

[2016-06-09 15:31] chipsenkbeil commented on #280
Removed it, opened vim and ran `:EnClasspath` again, and here is the resulting log:

[code]

[2016-06-09 17:14] jvican commented on #280
Which operating system?

[2016-06-09 17:53] chipsenkbeil commented on #280
ArchLinux. And vim statistics are as follows:

[code]

[2016-06-09 18:01] jvican commented on #280
Go to `~/.config/` and remove any ensime-related folder. Then, try again. Also, just in case, regenerate the ensime config and make sure you've got the latest version of the server.

[2016-06-09 19:17] chipsenkbeil commented on #280
Noticed that I'm getting several warnings regarding `Unable to reparse org.ensime#..., using Tue May 31 16:41:11 CDT 2016` during the resolution step. So, I'm assuming that I'm stuck with the version released at that point. Still hanging after clearing the ensime-vim directory (only ensime-related directory).

[2016-06-09 20:50] ches commented on #280
I'm suspecting either a permissions problem somewhere, or possibly your Java home isn't getting picked up correctly somehow. So bear with me on a string of possibly weird questions, I'm just tracing through the code based on the stack in your log and trying to rule things out where exceptions might possibly not be caught currently:

- You do have an `.ensime` file present in the project directory

[2016-06-13 20:58] Jacoby6000 opened #282 "Omnicompletion patterns for deoplete."
In #238 I mentioned making standard deoplete omnicompletion patterns. I've come up with these patterns, and it seems to be working very well for me.

[code]

I think the only case I'm missing right now, is when typing at the beginning of a line, but I'm not sure that's a big deal anyway.... well maybe it is. I dunno.

Once we hammer these out a little better, I'll make a PR for adding them in to e

[2016-06-16 16:34] #273 closed

[2016-06-17 02:30] Jacoby6000 commented on #274
PR made :)

[2016-06-17 18:44] ches opened #286 ":EnShowPackage should handle parsing nested packages in current file"
As noted on #252 which implemented the detection of the current file's package when no argument is given to this command—the first-pass implementation was a naive one to get the 80% cases covered, it leaves some edge cases like nesting and perhaps false-positive comments.

This is low priority until someone has the itch to fix it, but nonetheless I wanted to create a ticket to track the recognized

[2016-06-17 18:45] ches commented on #233
This was closed by #252. I believe there are still edge cases remaining like nested packages, so I created #286 to keep track of that for the future.

[2016-06-17 18:45] #233 closed

[2016-06-20 00:27] #274 closed

[2016-06-21 12:27] jvican commented on #282
This is great. If the beginning of a line is not working it wouldn't be such a big issue, it's quite uncommon we want autocompletion if we haven't typed anything yet. Could you do a PR?

[2016-06-22 00:52] ktonga opened #289 "Show type info: use same format as in completion"
Currently, `show type` command uses the already formatted type name from the server response. It is ok for simple types and `Funtion`s, but I find much more readable the format used in completion for methods.
We could reuse the same logic as in completion to give `ArrowTypeInfo` a special treatment.

I already have a TODO in the code for that. Let me know what you people think and I could open a P

[2016-06-22 01:02] ktonga opened #290 "Turn `EnToggle*` commands into settings"
I think it isn't worth it to have such kind of commands. I'd rather prefer flag-like settings, they are clearer to set in your `vimrc` if you want always the same behaviour and it is easy enough to script a toggle and assign it a mapping if you change it all the time.

It's just a question. I'd be keen to work on it if you guys agree with me.

[2016-06-22 01:43] ches commented on #289
I'd have to see some "mock-up" and perhaps examples of types that show the value of it, personally. `:EnType` for instance is showing the inferred *result type* of an expression, which is usually going to be much simpler than the amount of information in call signatures. Even if you're inspecting something that's a function type, in that context I want it to be concise, I don't want my eyes to hav

[2016-06-22 02:23] ches commented on #290
Currently there's only `:EnToggleFullType`, which defaults to shallow types. I would agree that it might make sense to have a `g:` setting for that default, if people want it.

If we ended up with tons of `:EnToggle*` things, yeah that's probably a bit silly, but I think `:EnToggleFullType` is pretty convenient to have built-in. I use `:EnType` dozens of times per day, I'll probably use it and `:E

[2016-06-22 02:29] ktonga commented on #289
You're totally right, I mean 'show type' action as a kinda 'quick doc' popup from the Idea world. But if it is just for inferred type I prefer the shortcut.

It would be nice to have a supporting split window (like vim preview window) to show this kind of information. Some times I want to quickly view the signature+scaladoc of a method. I don't want to switch to the browser for that.

I'll check w

[2016-06-22 02:49] ches commented on #289
That'd be great, this touches on two things I've had on my list too but haven't written up tickets for them yet:

- A lot of plugins like jedi-vim pop up a full function signature and possibly docstring in the preview window when completion is invoked, allowing you to keep seeing full function params after entering `(`. Not everyone likes that because it shifts your window layout, but I put `autoc

[2016-06-22 02:50] ktonga commented on #290
Well, I saw an [`EnToggleTeardown`](https://github.com/ensime/ensime-vim/blob/master/rplugin/python/ensime.py#L39) also, I've no idea what is it for tho. So it made me think that toggle commands are a standard for the plugin, and I really dislike them.

But I agree that this issue makes more sense if we had many more toggle commands. Do you wanna close it by now?

[2016-06-22 02:57] ches commented on #290
Oh I noticed `EnToggleTeardown` today too, it's only defined in Neovim. I didn't grok what it's supposed to do yet either, something about server shutdown… it'd be nice to document it if it should be.

I still think it *is* reasonable to make the default for qualified types a `g:` setting, *maybe*. Could leave this for awhile and see if anyone else has thoughts to add to any of this, up to you.

[2016-06-22 03:01] ches commented on #290
And if someone wants to explain `EnToggleTeardown` to us before I have the chance to closely read it, then it could be a good case for your original proposal? Seems like something obscure/maybe mostly for debugging, maybe shouldn't be exposed as a command to users.

[2016-06-22 03:05] ktonga commented on #289
I was aware of that, and I thought a lot about it while implementing #275, but no docs are available in the server response. So if there is an endpoint for docs we could do both requests and merge the responses to easily turn this feature on.
In the meantime, I had configured 'neosnipet' to help me jump through params after method completion. I even opened Shougo/neosnippet.vim#345 just in case to

[2016-06-22 03:20] ktonga commented on #289
Extra information for autocompletion would be much better if [something like this](https://github.com/neovim/neovim/issues/396#issuecomment-163760889) gets done:

[2016-06-22 07:19] ches commented on #243
@ChrisCoffey @jvican You can assign this to me, I'm working on it.

I'm experimenting with some refactoring for the plugin initialization—I would do this in (at least) two pull requests with just a minimal renaming per subject of this issue coming first, but I do want to try it. You know how much I've complained about all the boilerplate of defining duplicate shims for Vim and Neovim, which has pr

[2016-06-23 02:01] ChrisCoffey commented on #243
Very interesting, I'm looking forward to seeing what this looks like.

[2016-06-23 13:41] ches opened #291 "Implement implicit conversion inspections"
The feature matrix on [the main editors page][1] wrongfully stated that we support this, I've submitted a correction for this at ensime/ensime.github.io#135. While doing so I figured I may as well create an enhancement ticket for us to add support for this.

[Here's a description][2] and [screenshot][3] from Gitter of how the Atom plugin implements it. IMO implicits are so pervasive and Vim's rend

[2016-06-24 01:36] #277 closed

[2016-06-28 13:21] chipsenkbeil commented on #280
@ches, sorry it took so long to get back to you on this. Work takes priority and since I haven't been able to switch to Ensime yet, I can only dabble during early hours  and off time.

Anway, I've immediately noticed that my `:java-home` within `.ensime` points to `"/home/senkwich/projects/personal/ensime-server"` as opposed to a valid JDK directory. Not sure how that happened.

There is a file lo

[2016-06-28 13:26] fommil commented on #280
sbt-ensime will use the java that sbt is using, so you just need to fix your environment so that sbt is using the right version of java.

[2016-06-29 10:20] ches commented on #280
Glad you've sorted it out! If a wonky `:java-home` value being generated in `.ensime` is reproducible, that would indeed not be `ensime-vim`'s issue.

I agree. This is actually two problems, the first being to give the user a better error message in this scenario. I've addressed that in a (unmerged) commit referenced above. It comes along with some larger refactoring so if that takes awhile to rev

[2016-06-29 11:24] ches opened #294 ""Disable plugin" mechanisms need to work completely and reliably"
The `disable_plugin()` function is currently tightly coupled to printing messages about WebSockets errors, which probably ought to be changed so that it can be reusable in other situations where we can't recover from error conditions to initialize the plugin. It also just doesn't seem to really work for me—it needs to do additional things, like unloading autocommands, critically. It would probably

[2016-06-30 10:11] ches opened #297 "Overhaul logging and only do tracing when a debug flag is active"
I think it's time to create a issue to track this as a TODO. The plugin's logging approach is pretty simplistic and heavy-handed—it's a homegrown `log` function that appends to a non-configurable file, re-opening a file handle on every call, and our logging is mostly trace-level detail that's quite verbose.

This is great when you're debugging or working on a new feature and want to see the server

[2016-06-30 12:13] jvican opened #298 "`EnDeclaration` requires write when a file has been modified"
When one has modified a file (but not saved it) and uses `EnDeclaration`, the following error appears:
[code]

Instead of throwing this exception, either we figure out a way to follow a declaration without needing to save the file, or we ask the user to save it before executing the command. This should require a very straightforward fix.

[2016-07-01 03:22] ChrisCoffey commented on #298
The server needs us to save the file before it can index the changes, otherwise it won't know which object in the AST you're referring to. So the only option is to prompt for save, and if the user says no we just abort the command with a message.

[2016-07-01 03:53] ChrisCoffey commented on #297
I'd be happy with this landing in two or even a single pull, provided we go the decorator route.

Autologging does look quite nice. That being said, I think the attractiveness of the package lies in the decorators, and I'm not sure they're worth the cost of requiring users to install a third package (although I could go either way on this since I really don't like reinventing things).

Thoughts on

[2016-07-01 09:26] ches commented on #276
Looks like the server side is coming along nicely in ensime/ensime-server#1539 / ensime/ensime-server#1546, nice work 👏

[2016-07-01 09:44] ktonga commented on #276
We will need to support server 2.0 to add this

[2016-07-01 12:21] ches commented on #298
I think @jvican means that this error can happen even if you're not trying to go to a definition that has anything to do with the unwritten changes you've made in a file—the issue is with `:set nohidden` present, it happens even if you've done nothing but added a blank line, for example.

Seems the solution is still just as @ChrisCoffey suggests though: nothing to really do except forward Vim's no

[2016-07-01 12:42] ches opened #299 "Make :EnDeclaration emulate tagstack behavior"
Many clever plugins that have a semantic go-to-definition capability update Vim's native tag stack (`:h tagstack`), so you can use `<C-t>` to jump back to where you were after exploring a definition, regardless of any subsequent changes to the jumplist (`:h jumplist`) as you read the definition. This makes these plugins feel more like a seamless "progressive enhancement" to native Vim, IMO. I'm a

[2016-07-01 14:46] ChrisCoffey commented on #298
I think we're on the same page here @ches.

My point was just that many of the server's commands (including this one) are based on coordinates within the file, so even a seemingly inconsequential change like adding a new line will likely return gibberish if the change isn't saved to disk & indexed by the server.

I'm glad you raised the error @jvican , seems like a good one for a new(ish) contribu

[2016-07-01 15:01] yazgoo commented on #298
Hi guys, looks to me like SymbolAtPointReq can take a SourceFileInfo as a parameter, so it looks like saving the file isn't mandatory, what do you think ?

[2016-07-01 15:12] ches commented on #298
👍  @yazgoo, it seems [there are even some tests highlighting a few relevant unsaved file use cases][1]. Otherwise we start running up against tradeoffs that aren't ideal on either side, like #220.

[1]: https://github.com/ensime/ensime-server/blob/363682cc4407b60153a8f15f66653adefc86cb55/core/src/it/scala/org/ensime/intg/UnsavedFileTest.scala

[2016-07-02 04:40] ktonga commented on #289
It seems that [some work](https://github.com/ensime/ensime-server/issues/888) is already planed on the server to support this use-case on the editors.

[2016-07-02 04:54] ktonga opened #300 "Support server 2.0"
Server 2.0 is starting to diverge from 1.0. It would be nice to support it somehow on the vim plugin side, maybe a separate branch (leaving 1.0 as default branch), so advanced users and contributors can easily switch (configuring the branch in their plugin manager) to start testing/developing the new features/API.

Keep support for both mayor versions in the same branch could lead to a lot of trou

[2016-07-02 04:57] ktonga commented on #276
Development of this task can be started after solving #300

[2016-07-02 10:27] jvican commented on #300
I completely agree, great idea!

[2016-07-02 10:30] jvican commented on #298
I haven't looked into it, but what it would be nice is if we could just send the contents of the file, instead of the filepath. In that case, we could read the file contents from the vim buffer with the last version of the changes (but without writing them to disk).

[2016-07-02 10:33] jvican commented on #294
Great idea, I'd love to see this working reliably.

[2016-07-03 01:45] ChrisCoffey commented on #300
@ktonga & @jvican I also completely agree. I was chatting with @fommil about this very thing the other day and we agreed a branch is the way to go. I've created the `Server-2.0` branch specifically for this purpose :)

[2016-07-03 02:18] ktonga commented on #300
Any idea how to keep both branches in sync? Anything not 2.0 specific should go to `master` and then cherry-picked (adapted if needed) to `server-2.0`

[2016-07-03 07:35] ches commented on #300
It's an unfortunate aspect of the Vim plugin ecosystem that users typically run off of `master` (or whatever default repo branch is) because the plugin managers made that much easier than fumbling with the clunky vim.org system—it makes release management a lot harder to achieve.

It's a pain because typical workflow would normally be to keep the latest work that tracks latest server progress on m

[2016-07-03 10:00] jvican commented on #300
Is there any time estimate for the release of 2.0? /cc @fommil

[2016-07-03 12:20] ktonga commented on #300
@ches I also thought about that, maintaining both branches could become a nightmare. And it's totally unneeded if the server doesn't diverge too much or if we do something smart on the plugin side to support both protocol versions in the same codebase. Maybe dispatching using typehint + version and doing some common code abstraction on the handlers.

Both approaches seem to be valid and each one w

[2016-07-03 12:29] jvican commented on #300
To be honest, I wouldn't start by code branching, we need to keep the code as simple as possible. I'm for is working on version 1.0 for the moment being, and whenever the release of 2.0 approaches we'll freeze version 1.0 (leaving it in master), and switch to `server-2.0` (which will be marked as the default branch in the repo so that new contributions are merged only for this version).

Given the

[2016-07-03 17:57] fommil commented on #300
2.0 is rolling release, it's out already. But expect the protocol to have breaking changes at times. As for a final release, hunno maybe a year?

[2016-07-03 22:20] jvican commented on #300
Okey, in that case code branching sounds good.

[2016-07-04 00:22] ktonga commented on #300
Ok, so all good with code branching? I could give #276 a shoot tonight (Aussie time)

[2016-07-04 14:31] jvican commented on #300
Yeah, since it seems that there's not more discussion about this topic, go ahead :wink:

[2016-07-04 14:44] fommil commented on #300
Emacs just released stable 1.0 so our master in now tracking v2 of the server. There is a pop-up to warn people what to expect, and what is expected of them.

[2016-07-04 15:39] ChrisCoffey commented on #300
that's awesome. We're a bit further behind the Emacs feature-set, but once we're closer I'd love to cut a stable release

[2016-07-04 17:41] fommil commented on #300
Hehe, calling it "stable" may be a misnomer. Perhaps "something you can return to if everything goes horribly horribly wrong" is more appropriate.

[2016-07-07 07:29] ches opened #303 "Rename :EnClasspath"
Just a small thing, but it keeps crossing my mind so here goes:

`:EnClasspath` is the first thing an ensime-vim user ever runs, and the name is kind of puzzling. It's basically an implementation detail that the server installation needs to be bootstrapped with the classpath file generated for its launch. What if we changed this to a more self-describing name from the user's perspective, like `:En

[2016-07-07 07:35] ches commented on #303
We could also include the project Scala version in the feedback message that's displayed, hopefully making it apparent that it's normal to need to run it again for a different ABI:

[2016-07-07 13:21] jvican commented on #303
That's a great idea, would you mind making a PR?

[2016-07-08 13:48] #303 closed

[2016-07-08 14:19] ches commented on #280
I think @chipsenkbeil's issue is resolved, and since #293 ensime-vim should now fail gracefully if for some reason it's directed to a `java` executable that can't be run.

I know I too have run into cases where ensime-vim hangs Vim to the point that a `kill -9` is needed, but I don't have a reproduction right now. Once I have one I'll open an issue to track it, if anyone else has a reproduction yo

[2016-07-08 14:19] #280 closed

[2016-07-08 17:23] ktonga commented on #199
I don't think this is possible, Vim doesn't provide the needed API.
See neovim/neovim#719 for a long and nutritive discussion about the subject.

[2016-07-08 19:22] ChrisCoffey commented on #199
I disagree. This is quite a large task, but I think this is perfectly doable using `matchaddpos()` to link up the buffer text with the ast. The 8 pos cap on `matchaddpos()` will present an issue for frequently used values, but again I think that can be worked around.

[2016-07-09 15:14] ktonga opened #305 "Stop sending `ConnectionInfoReq`"
As per ensime/ensime-server#1553 the plugin should stop sending this request for server v2 as `ConnectionInfo` is the first message asynchronously received after connecting to the server.

This will need some refactor to split the requests for V1 and V2, similar to the refactor to the response handlers done in #301

[2016-07-13 16:14] stevendobay opened #306 "E319: Sorry, the command isn't available in this version: python <<PY"
### Steps to reproduce

1. Installed

Ubuntu 16.04,

Scala 2.11.8, SBT 0.13.11,

OpenJDK8,

Python 2.7 + pip 8.1.1 + websocket-client + sexpdata,

latest vim-scala & ensime-vim & ensime-server & ensime-sbt from Vundle

~$ vim --version
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Jun 16 2016 10:50:38)

2. Created a hello-world sbt project to test vim
3. Opened Main.scala with Vim
4. Typed ":EnInst

[2016-07-13 19:22] tjakway commented on #306
Also experiencing the same issue.

[2016-07-13 22:35] ches commented on #306
Hi,

You're running a version of Vim that isn't built with support for Python plugins (or possibly only with Python 3 support, ensime-vim currently requires Python 2 support.

Please review [the installation page][1] again: it asks that you confirm `vim --version | grep +python` (looking for `+python` in the output, not `+python3`).

I'm not sure about Ubuntu 16.04 specifically, but distributions

[2016-07-13 22:43] ches opened #307 "Fail with a useful message when Python support isn't available in Vim"
We ask users to confirm that their Vim is built with `+python` prominently at the start of our installation instructions on the web docs, but if they don't, they end up getting ugly errors when trying to run `:EnInstall`. We can easily give a nicer error message with a `has('python')` check and bail out early. I believe Neovim works exactly the same way if the Python remote plugin host hasn't been

[2016-07-13 22:57] ches commented on #306
Ah, realized that on the installation page I linked above we actually specifically address Ubuntu 16.04 already 😝

[2016-07-13 23:40] tjakway commented on #306
I'm running Mac OS X and built vim from source.  It most definitely has python2.  And I don't get this line

`E319: Sorry, the command isn't available in this version: python <<PY`

Just

[code]

Will update with more details tomorrow when I'm at that computer again.

[2016-07-13 23:44] ches commented on #306
@tjakway Your issue is definitely different then, please open a new issue when you're back in position to gather info. Be sure to check [the troubleshooting guide][1] first.

[1]: https://ensime.github.io/editors/vim/troubleshooting/

[2016-07-14 11:45] ches opened #309 "Clean lint bill of health, add to CI"
This will wait on #301 to avoid merge conflict pain, but otherwise since #302 is landed I'll create a PR to get `make lint` running clean so we can consider adding it as a CI check.

Also, on #302 I proposed this potential compromise for soft/hard line limit warnings/errors:

If others like that idea then I can include it in the PR, alongside the boilerplate `# coding: utf-8` comments that will go

[2016-07-14 18:30] stevendobay commented on #306
Hi @ches ! Thanks, it kinda worked, however, the user should purge all vim packages first(sudo apt-get remove vim*) to install vim with python2 support properly(sudo apt-get install vim-nox-py2). Will ensime-vim support python3 in the future?

[2016-07-14 18:30] #306 closed

[2016-07-14 19:19] ches commented on #306
Good to hear, sorry it's a bit of a hassle to switch packages.

I'm sure we will eventually, the code is probably not very far from working in Python 3 already if we just added detection for which the user's Vim supports. I just don't think any of us have really worked on testing that and trying to make it work yet.

[2016-07-15 18:19] stevendobay opened #310 ":EnRename doesn't work across files"
Hello,

My setup can be found in [this issue](https://github.com/ensime/ensime-vim/issues/306) and the problem is in the title. Is it because of the nature of ensime or is it a bug?

[2016-07-15 18:38] ches commented on #310
More detail would be helpful here—it would be really good if you used [the issue template][1] that GitHub pre-fills in for you. I know we have some boilerplate in there that should probably be trimmed (creating an example reproduction project is often overkill), but at least following the parts of specific steps to reproduce plus expected/actual behavior will help us help you faster and reduce bac

[2016-07-15 18:41] rorygraves commented on #310
I suspect you are talking about when the second/other files are not open?  Is you file successfully compiled.  Rename has a known limitation because we rely on the presentation compiler to do the work and it will not see files not loaded in.  (We are working on the graphpocolpyse to ensure we load the right set of files to make it work).  EnDeclaration could fail if the project never hit a compila

[2016-07-15 18:49] stevendobay commented on #310
Sorry, more details:

1. Setup the environment as in the referenced issue

2. addSbtPlugin("org.ensime" % "sbt-ensime" % "1.0.0") to the ~/.sbt/0.13/plugins/plugins.sbt

3. Created the project directory:

[code]

4. build.sbt content:

[code]

5. created "src/main/scala/tt" package

6. Added Source.scala:

[code]

7. Added Main.scala:

[code]

8. Run in sbt:

[code]

9. Added "autocmd BufWritePost

[2016-07-15 18:52] rorygraves commented on #310
Ok, i'm suprised the EnDeclaration does not work - over to @ches  to investigate that one.  The first one is a known issue with rename I believe (specifically if the file is not open it is not loaded into the presentation compiler and the rename misses it.  Try opening both buffers in vim and rename should work.  As mentioned this is actively being worked on.

[2016-07-15 18:56] stevendobay commented on #310
@rorygraves I've tried to open both files but no luck.

[2016-07-15 18:59] stevendobay commented on #310
I've tried a full reinstall but no luck.

[2016-07-15 19:00] rorygraves commented on #310
Thanks @stevendobay , i will have to hand over to @ches for investigation on the vim - (I'm not a vim user).  The server log would be interesting to see what requests are flowing.

[2016-07-15 19:04] stevendobay commented on #310
UPDATE: EnDeclaration is working after the reinstall but EnRename is not.

The server.log:

[code]

The ensime-vim.log:

[code]

[2016-07-15 19:06] ches commented on #310
Thanks for the further info, that helps.

So yeah, the refactoring is broken, and I believe there are bugs with it that are specific to the Vim client and not just the limitations @rorygraves referred to.

`:EnDeclaration` works fine for me though, I've set up your exact repro project. Having the cursor on either `Source`, `one`, or `variable` in `Main.scala` do what's expected. Let's see if there

[2016-07-15 19:08] stevendobay commented on #310
@ches

True, now it does work for me after the reinstall, see the heading of my comment about the logs.

[2016-07-15 19:25] ches commented on #310
Are you seeing a WebSocket exception consistently when you restart Vim, like shown in your `ensime-vim.log` above?

This does occasionally happen, for me restarting Vim—which should restart the server—typically resolves it. Since it's transient and there's still a lot of other stuff to do, I haven't tried to debug it in earnest yet. If this happens consistently or even just "too often" for you ple

[2016-07-15 20:14] stevendobay commented on #310
No, I don't see that often. Here is a new start and try to refactor:

[code]

[2016-07-16 14:23] ches opened #311 "Commands should not silently no-op when there is no .ensime; should be an ftplugin"
If you edit any ol' Scala file when you're not in a project that has an `.ensime` (yet), the plugin commands just silently do nothing. Then the commands are afterward defined in any file, which might not make any sense. In Neovim the potential confusion is even higher, since the rplugin is always loaded so the commands are defined even if you haven't opened a Scala file at all.

Really, in Vim ter

[2016-07-16 14:43] ches commented on #311
Well, defining commands in `ftplugin` doesn't solve this anyway, I was thinking it did. Just serves to delay defining them in a given Vim instance until such a file is opened. No such thing as buffer-local or filetype-scoped commands I guess.

[2016-07-17 15:30] ktonga opened #313 "Stop using 'isCallable' in completion formatting"
This field was already removed in `server/2.0` and the same check can be done inspecting the completion `typeInfo`

[2016-07-17 16:16] #300 closed

[2016-07-17 22:11] #307 closed

[2016-07-19 05:46] ktonga opened #315 "E121: undefined variable: g:ensime_server_v2"
It seems that the following line is not doing what I expected.

[code]

It's always returning `True` due to this funny behaviour in `vim` python module:

[2016-07-19 06:07] #315 closed

[2016-07-26 00:33] ktonga opened #319 "Sometimes completions come without `typeInfo` field"
It happens some times, the case I was able to reproduce it for was completing class name/constructor:

```throw new IllegalSta|``` (`|` is the cursor position when I triggered the completion)

It shows the following error:

    Error detected while processing function EnCompleteFunc:
    line    1:
    error caught in request handler '/Users/tonga/Projects/ensime-vim/rplugin/python/ensime.py:funct

[2016-07-26 06:01] fommil commented on #319
I've seen this sort of thing in emacs too. It's annoying.

[2016-07-26 09:16] battimaglio opened #320 "Python support missed with python3 support present"
### Actual behaviour
On Neovim opening (installed by brew and/or pip):
[code]
OS
[code]
My neovim version
[code]
[code]
[code]

My vim version
[code]

Thank you for your help.

[2016-07-26 09:25] ches commented on #320
Hi,

We don't support Python 3 yet, could you install the `neovim` package for your Python 2 installation? From your `:version` it looks like you have Python 2 installed through Homebrew already, most likely `pip2 install neovim` will do the right thing.

[2016-07-26 10:01] battimaglio commented on #320
[code]
Doesn't install an executable (I know just a little about python)

[2016-07-26 10:30] ches commented on #320
Correct, there is no executable for the Python library, but once the library is installed Neovim should return true for `has('python')` as long as it's finding the right Python 2 installation where it was installed, which I believe should just be based on what `python` is found first on your `PATH`.

Try running it *without* `sudo`—since you have Python 2 installed with Homebrew, you shouldn't nee

[2016-07-26 15:07] battimaglio commented on #320
Thank you for the explanation.
Yes, all is the same as your.i
and
[code]
The --upgrade doesn't fix and
[code]

[2016-07-26 15:17] ches commented on #320
I'm confused, you posted `:version` output above showing a Neovim installation, but now there is no `nvim` executable?

Can you try reinstalling Neovim with Homebrew?

[code]

I suggest `HEAD` because it's been awhile since they've made a stable release.

Just to be clear, the `neovim` brew package and `neovim` pip packages are separate things, you need both to run Neovim with support for Python p

[2016-07-26 15:44] battimaglio commented on #320
Yes, my fault, I had misunderstood the

part :P Now both python(s) are present (python and python3) but ensime still doesn't work.

[2016-07-26 15:50] ches commented on #320
Okay, we should be close now 😄

If Neovim now says `has('python')` is true, the next two things to check:

1. Run the `:UpdateRemotePlugins` command and restart nvim.
2. [Generate a `.ensime` config for your project][1] using one of the build tool plugins, e.g. `sbt ensimeConfig`.

[1]: https://ensime.github.io/editors/vim/workflow/

[2016-07-26 15:55] battimaglio commented on #320
Thank you! It fixes.

Only a (maybe) negligible warning
[code]

[2016-07-26 16:00] ches commented on #320
That looks like it's *probably* a transient download error from a network hiccup somewhere, run `sbt update` to try it again.

Enjoy the Coursera course 😉

[2016-07-26 16:00] #320 closed

[2016-07-27 12:42] ches commented on #309
Closed via 2644ec3e3a5bf8558e

[2016-07-27 12:42] #309 closed

[2016-07-27 14:25] ches opened #321 "Factor Vim calls into an Editor object abstraction"
This idea seemed to be supported here: https://github.com/ensime/ensime-vim/pull/314#discussion_r71131986, so this issue is to track a to-do for implementing it. ~~This is potentially low-hanging fruit for a new contributor—though it would seem to touch a lot of code, it should be straightforward and will give a good orientation.~~ Okay, I've started it, and this probably doesn't qualify as low-ha

[2016-07-29 01:04] ktonga opened #324 "Get rid of completion list filtering once the server bug is fixed"
Currently, we are filtering the completion list to remove faulty elements. This filtering could be removed once ensime/ensime-server#1575 is fixed

[2016-07-29 07:04] ches opened #325 "Factor launcher instance out of EnsimeClient entirely"
I'm on a mission to, piece by piece, strip `EnsimeClient`'s responsibilities down to connecting to a server, sending it requests, and dispatching the responses to handlers. This is up for debate, but I think its attempts to manage its own server process lifecycle should be extracted.

`EnsimeClient` takes an instance of `EnsimeLauncher` as a constructor param. IMHO abstraction-wise, and testing-wi

[2016-07-29 15:32] #319 closed

[2016-08-01 11:41] ches commented on #136
Okay, we've had the Lettuce suite set up for awhile, #327 added unit-level testing, and #312 proposes an implementation of embedded Neovim integration tests as @jvican suggested above. I think we can safely close this now 😄

[2016-08-01 11:41] #136 closed

[2016-08-01 16:39] ktonga opened #330 "Revisit `handle_string_response` implementation. The current one is very confusing."
I think the handling around text responses is currently hard to follow, it handles very different kind of messages and the code branching is base on non-clearly-named global state.

[2016-08-01 18:44] #212 closed

[2016-08-01 18:53] ches commented on #330
A saner approach than `call_options` and the way class attributes are sometimes set as flags in some far-off location in the code (which is also dependent on sequential processing of the queue) probably boils down to a fundamental design change that I'm not sure I personally will even try to rework before working instead on my side project to rewrite the client core—I'm attempting to use an event

[2016-08-01 19:04] ktonga commented on #330
Yes, that would be enough for a short term solution. And maybe keep a dict `call_id` -> `buffer name` for source formatting to always replace the content in the right buffer.

[code]

[2016-08-01 19:12] ches commented on #330
Ah that's what you meant about changing buffer, I had thought you meant editing the current buffer's content. That's a good point.

So mechanically this stuff is basically what `call_options` already is. We could piggyback on that, possibly rename it to something that reflects the expanded significance.

[2016-08-01 20:33] ches commented on #297
I think the most important parts of this were covered by #323, and since I'd agree with not adding a dependency to get the magic decorators that won't even be a user-visible improvement, I think I'll close this for now.

The logging isn't very configurable at this point, just an environment variable to toggle between `INFO` or `DEBUG` log level, but if a desire for more comes up in practice we can

[2016-08-01 20:33] #297 closed

[2016-08-05 16:40] ktonga commented on #330
Oh I wasn't aware of `call_options` it's so global that it is almost invisible. A good approach to give it more visibility would be to add it to the handler's params.

[code]

[2016-08-15 11:58] ches commented on #237
I've added a "faq" label for this and will link to an issue search for that label from the web docs soon, as some of the other ENSIME projects do in their troubleshooting sections.

[2016-08-15 11:58] #237 closed

[2016-08-16 14:42] ches opened #333 "Rework :EnDocUri"
We've had some discussion on #332 about how `:EnDocUri` in its current form is broken, and when it worked, it was basically useless (echoing the documentation URL to Vim's message area). It would make more sense as a function that returned the URL so people could do custom things with it. It's been removed from documentation through that PR for the time being.

Since the server roundtrip to get th

[2016-08-16 19:07] #321 closed

[2016-09-13 16:14] vito-c opened #337 "UpdateRemotePlugins error in neovim"
Running `UpdateRemotePlugins` gives the below error in neovim

[code]

[2016-09-13 16:28] ches commented on #337
Hi,

It looks like your missing the sexpdata dependency, or it's not installed where the Python version that your Vim is built against can find it. Check out [the troubleshooting page][1] for pointers on this, the first item under "Common Issues" should help.

[1]: https://ensime.github.io/editors/vim/troubleshooting/

[2016-09-13 16:28] #337 closed

[2016-09-16 01:15] ktonga opened #338 "Remove LGTM integration in favor of Required Reviews"
GitHub has recently added support for PR reviews:
https://help.github.com/articles/about-pull-request-reviews/
https://help.github.com/articles/about-required-reviews-for-pull-requests/

I think this new native feature solves what we are enforcing with `lgtm` but in a much better way. Shall we enable it and remove `lgtm` integration?

[2016-09-19 09:21] g-rutter commented on #64
So would @kstep, or another user be able to explain how ensime-vim in its current form can be integrated with YCM and Syntastic?

It certainly seems clear that ensime should be integrating with these existing plugins through the standard routes, rather than trying to do all this stuff itself.

[2016-09-19 10:11] ches commented on #64
@g-rutter Integration with YCM and Syntastic already exists and should "just work" in most cases. Sometimes completion plugins do need a bit of configuration tweaking, there are some issues you can find via search regarding deoplete settings, for instance (and if there are uncontroversial canonical settings we should include by default, we're open to that). I use YCM myself, just make sure `:setlo

[2016-09-19 10:19] ches commented on #338
I haven't actually tried out the required review workflow yet on any project, but in principle the switch makes sense to me.

[2016-09-19 13:18] gigiigig opened #339 "Error highlighting doesn't work anymore"
Error highlighting stopped worked recently in Neovim, I can't really say when but around one month ago I think, vim still sees the errors coming from the server, and they are reported in Vim in the message area on the bottom, but they are not highlighted.

This is my configuration:

Neovim: NVIM 0.1.3-dev Build type: Dev

I tried with sbt-ensime plugin version: 1.0.0 and 1.9.0 and 1.9.1-SNAPSHOT
a

[2016-09-19 17:07] stevendobay commented on #94
I might need a reopen:

[code]
init.vim ->

[code]

call

[code]

ensimeConfig and

- [x] works with vim-nox-py2
- [ ] works with neovim(:EnInstall is an unknown command but :h ensime gives the docs)

Ubuntu 16.04, neovim 0.16, +python, -python3
Reproduced: 3 times with two different machines

[2016-09-19 17:34] ktonga commented on #94
@stevendobay Have you run `sbt ensimeConfig` on the project? The plugin needs the ensime project descriptor. I'm asking because I can't see it listed in your steps.
Also, open a scala or java file, the plugin starts a server when it detects one of those FTs

[2016-09-19 17:51] stevendobay commented on #94
@ktonga ^ "...ensimeConfig and..."(before the checklist, otherwise it wouldn't work with vim-nox-py2)

[2016-09-19 17:55] ktonga commented on #94
Ups sorry, didn't see it.

[2016-09-20 21:24] stevendobay opened #340 "Doesn't integrate with Neovim"
Yes, I've seen #94 but it doesn't help.

Setup:

[code]

init.vim ->

[code]

call

[code]

ensimeConfig and
- [x] works with vim-nox-py2
- [ ] works with neovim(:EnInstall is an unknown command but :h ensime gives the docs)

Ubuntu 16.04, neovim 0.16, +python, -python3

Results: 3 times(2 diff. machines) EnInstall was an unknown command and the 4th:

[code]

[2016-09-21 13:18] ches commented on #340
I've tried to replicate your setup with an Ubuntu 16.04 VM (except that I don't use plug.vim), and I haven't been able to reproduce this.

You must restart nvim after running `:UpdateRemotePlugins`, you probably know this but it's not precisely clear from your steps, so just mentioning. I don't know what your comment `" tried to copy the rplugin directory before` means, but it sounds like somethin

[2016-09-21 15:22] stevendobay commented on #340
Hi @ches !
 I've restarted it - I forgot to mention, I thought it's clear because it was after the ":source %" command.
The rplugin copy was the manual fix for #94 - but it doesn't work for me.
I've created a new setup:

UpdateRemotePlugins:

[code]

[2016-09-24 16:57] stevendobay commented on #340
Hi @ches!
 I've reinstalled it a hundred times and I've succeeded on my home computer. I've tried to debug it before but I couldn't find anything and it still doesn't work on the same platform on a virtualbox instance - I think the installation can fail at many points without notifying the user. Sometime the help is missing for ensime or it isn't registered in the rplugin manifest or it says the r

[2016-09-26 13:27] ches commented on #339
Thanks for the report—I assume that you're *not* using Syntastic, correct? I did some refactoring recently that must have broken the "native" error highlighting support in ensime-vim, I admittedly didn't test that well. I'll try to reproduce.

[2016-09-26 14:23] gigiigig commented on #339
Correct, I'm not using Syntastic indeed, I tried to install it and works with Syntastic, thanks!

[2016-09-27 13:58] #339 closed

[2016-09-30 13:16] netzwerg opened #342 "Unreliable `EnTypeCheck`"
### Steps to reproduce

1. `git clone https://github.com/fhnw-saav/saav`
2. `sbt ensimeConfig`
3. `vim src/main/scala/ch/fhnw/ima/saav/MainApp.scala`
4. `:EnTypeCheck`
5. `:EnTypeCheck`

### Expected behaviour

Step 4 should kick off type checking, resulting in error highlights.

### Actual behaviour

Step 4 completes immediately and does not highlight errors:
[code]

After another invocation (ste

[2016-09-30 15:05] ktonga commented on #342
It seems you are trying to type-check before the server is ready. Please wait until you see the message from the server when it's ready in the status bar, then trigger the check. That should give you the expected behaviour.

[2016-09-30 16:27] netzwerg commented on #342
I see `[ensime] Server has been started...` pretty much immediately. Still it takes two or more `EnTypeCheck` invocations to get an actual type check.

Attached another log, hope it helps...

[ensime-vim-log.txt](https://github.com/ensime/ensime-vim/files/503402/ensime-vim-log.txt)

[2016-10-01 04:53] netzwerg commented on #342
Just made a weird observation:

Inside VIM, when I type ":EnType" and then press the tab key until "EnTypeCheck" is focused, and then press return, the type checking always completes immediately and no errors are highlighted.

However, when I type in the full ":EnTypeCheck" command character after character, it always works.

Maybe "correlation is not causation", but it was 100% reproducible when

[2016-10-11 12:04] ches commented on #342
Sorry for the delay in responding, but this message doesn't mean the server is ready, there are two subsequent messages, "Indexer is ready" and "Analyzer is ready"—effectively you'll want to wait for both of these before you can expect the plugin to be fully functional and stable.

I'm sure we could stand to improve the messaging/behavior when user acts before the server is ready, but for now this

[2016-10-11 12:05] #342 closed

[2016-10-16 06:12] ktonga opened #343 "Use new Jar URLs for server 2.0"
See ensime/ensime-server#761 and ensime/ensime-server#1612 for server-side details.

[2016-10-22 15:10] ktonga opened #344 "Remove `EnFormatSource` command"
Support for formatting source will be removed from server soonish (ensime/ensime-server#1606), so the removal of the command will be mandatory when talking to a server 2.0.
Since defining different commands per server version sounds so painful I see two possible options:
- Totally remove the command
- Overwrite the command handler for 2.0 as NOOP with message `Not supported in 2.0`

[2016-10-22 17:35] yyadavalli commented on #344
I can send in a PR once we have more comments. My personal suggestion would be to remove the command

[2016-10-22 17:56] ktonga commented on #344
That would be nice, thank you!

It's my personal preference too, TBH I never felt like a command to format the code would belong to a plugin like ensime-vim, while there are so many tools out there to achieve that in a better way.

[2016-10-23 03:43] ktonga commented on #338
Hey @fommil could you do the switch please?

[2016-10-23 08:14] fommil commented on #338
done!

[2016-10-23 08:14] #338 closed

[2016-10-23 12:00] ktonga commented on #338
Thanks!

[2016-11-07 20:55] paultol opened #346 "name 'ensime_plugin' is not defined on Windows (Troubleshooting hints did not help)"
I installed Ensime plugin to sbt and ensime-vim plugin (using Vim-Plug) on Windows 8.1, vim 8.0.69.

I have a simple sbt project and ensimeConfig seems to have worked fine.

[info] ENSIME update.
[warn] SBT is using ivy to resolve dependencies which is known to be slow. Coursier is recommended: http://get-coursier.io
[info] Resolving org.scala-lang#scalap;2.11.4 ...
[info] ENSIME processing hello

[2016-11-08 04:24] paultol commented on #346
I think I found the reason: it's that ensime_init_path() in ensime.vim.py checks file path end in a system-dependent way. I patched it locally and loading scala files works for me (although further down the road server loading seems to have a similar issue but it is a completely different issue). Should I just submit a pull request or there is another procedure for submitting fixes (could not find

[2016-11-08 04:37] ches commented on #346
Hi, looks like you're right, I've never heeded the naive string comparison going on there before, I guess we don't have many Windows users 😇

The patch looks fine but I suspect we can probably simplify it a bit, if you can open a pull request that'd be great. Thank you for reporting and examining the issue.

[2016-11-08 04:54] ches commented on #346
I was halfheartedly messing with this initialization approach awhile ago (looking to get rid of the duplication of the `ensime_init_path` definitions, among other aspects)—I'll have to check back to my WIP but the scope of it may go wider and not be ready. In the meantime a quick fix for system-agnostic paths is definitely warranted here.

[2016-11-09 00:03] ktonga opened #347 "Add `:EnRestart` command"
Implement new command to restart server instances from within the Vim session. It can come in handy when you change Ensime config and you want the new config to be picked up without leaving Vim or when the server gets borked.

It should be simple, just loop through all running clients and kill/relaunch the server process.

[2016-11-12 13:38] #346 closed

[2016-11-14 00:39] #344 closed

[2016-12-01 16:10] fommil commented on #310
this is fixed in the GSoC feature branch. It's also worth noting that the reporter has been saying not-very-nice things about ensime elsewhere (which goes beyond technical debate into personal insults, calling us "lazy") so I don't think he deserves our time or attention. https://m.reddit.com/r/scala/comments/5eu9if/intellij_vs_ensime/

[2016-12-01 16:10] #310 closed

[2016-12-01 16:43] stevendobay commented on #310
Being butthurt after hearing a critique is really childish. Btw, the insults were coming from YOU. You should really think about your attitude.

[2016-12-01 17:08] #340 closed

[2016-12-03 22:50] ches opened #353 "Launch ENSIME using server jar paths now in .ensime"
Since the 1.12.x series ensime-sbt now installs ENSIME with Coursier and records the server, scala-compiler, etc. jar paths needed for a launcher classpath in `.ensime` (see ensime/ensime-sbt#271).

I've mostly implemented this for ensime-vim today, should finish tomorrow hopefully or will at least open a WIP review. Just wanted to claim the issue to avoid anyone duplicating work.

The emacs clien

[2016-12-16 11:53] ches opened #355 "Make protocol version selection automatic based on handshake"
We have a `g:ensime_server_v2` setting for setting up the client to talk to a v2 ENSIME server (undocumented, mostly of interest to developers until v2 becomes the default installation). As discussed in #354, this setting ought to go away now that build tool plugins (at least sbt-ensime as of now) can do the work of installing ENSIME and can control the version to install. Needing to also set this

[2016-12-20 23:08] alexDeCastroAtGit commented on #152
I'm getting the same error...

[code]

[2016-12-20 23:27] ktonga commented on #152
Hey @alexDeCastroAtGit `ensime-vim` is a neovim remote plugin, so you need to run `:UpdateRemotePlugins`. Maybe that's your problem

[2016-12-23 14:43] jqno opened #356 "Invoking completion after ( replaces the word that comes before"
### Steps to reproduce

1. Check out https://github.com/jqno/EnsimeVimCompletionIssue
2. Open `CompletionTest.scala`
3. Write `print` and invoke completion; choose `println`.
4. Write `(`
5. Write `he` and invoke completion

### Expected behaviour

The line is expanded to `println(hello)`

### Actual behaviour

The line is expanded to `hello)`

### More info

I tried to fix this bug and offer a PR

[2016-12-28 16:12] ktonga commented on #356
I was able to reproduce it. It also happens invoking completion after `[`.

I can take a look, or help you with anything you need if you already started working on it.

Thank you for reporting.

[2016-12-29 19:10] jqno commented on #356
Hi! I haven't started yet, but I'm certainly willing to give it a shot if you can tell me a good place to start.

[2016-12-30 01:44] jvican opened #357 "Avoid two steps when jumping to declaration"
Using `:EnDeclaration` unfortunately triggers two different vim actions: edit file and goto position. This results in vim adding both actions to the jump list and therefore damaging UX of vim developers that now need to press `Ctrl-O` or `Ctrl-I` several times to browse through the opened buffers and jumps.

I'll take care of this one, I think I have a fix that will submit tomorrow with all detail

[2016-12-30 11:08] jvican commented on #356
Hey @jqno, thanks for taking a look into this!

For solving this, I recommend you to have a look at the vim and neovim docs: `:h omnifunc` and `:h compl-omni`. From there, you'll find interesting links that will shed some light into how omnicompletion works.

Have also a look at this [function](https://github.com/ensime/ensime-vim/blob/master/ensime_shared/client.py#L688-L722), which is the one im

[2017-01-01 15:10] jqno commented on #356
Hi @jvican,

I should have known that the answers I was looking for, were to be found in Vim's help system :). Thanks for pointing out the relevant sections to me, after reading up a little it was easy to fix this bug. See PR #360.

I'd like to add some tests as well, but I wasn't sure if I should write them in Cucumber of 'plain' Python.

[2017-01-01 17:06] #356 closed

[2017-01-01 17:24] ktonga commented on #356
Re: testing,

For auto-completion it should be really sweet to have end-to-end tests since it's a functionality that interacts a lot with the editor (the Vim instance), in this case the best is to write some BDD tests using Lettuce (already integrated in the project), but before putting any more effort on it, it should be nice to have #312 merged.

On the other hand, to verify the correctness of m

[2017-01-01 18:49] #357 closed

[2017-01-01 19:12] bleshik opened #361 "Java Support: use FullTypeCheckCompleteEvent instead of NewJavaNotesEvent"
There is an issue with ensime server (https://github.com/ensime/ensime-server/issues/1616) preventing firing FullTypeCheckCompleteEvent for java files. Since the vim client catches NewJavaNotesEvent collecting type check errors and waits for the final FullTypeCheckCompleteEvent before showing errors to the user, a little workaround was introduced (https://github.com/ensime/ensime-vim/pull/359) to

[2017-01-01 19:57] jvican commented on #347
I've left some comments on this in https://github.com/ensime/ensime-vim/pull/350. In short: looking forward to this feature!

[2017-01-02 10:24] jqno commented on #356
Thanks for the info. I think I'll look into making a few pytests for the `detect_row_column_start` behavior first, and look into making a BDD test once the Docker work is sorted out.

[2017-01-02 10:32] ches commented on #356
It appears the completion logic implementation is all still inside `EnsimeClient` and somewhat entangled in its state, so it's difficult to unit test as it currently stands. ☹️

This seems like a good candidate to factor out parts that aren't server request/response to `Editor` as an API function that is easy to unit test—`EnsimeClient`'s job to do server communication, `Editor`'s job to interpret

[2017-01-02 18:11] #353 closed

[2017-01-03 02:14] ktonga commented on #258
Is this fixed by #359? what else (java related) should we support?

[2017-01-03 20:24] jqno commented on #356
Being new to both Python and VIM plugins, I'm don't feel qualified to say anything about the architecture. I have some experience writing tests for difficult to test code though, so I'll try to write some tests next week or so. Then I'll let you decide whether it's the right approach or not.

[2017-01-04 15:13] koslambrou opened #363 "Neovim: Error caught in request handler of autocmd after opening scala file"
Yes, I've seen #340 but it doesn't help.
I also couldn't find any helpful in the Getting Started and Troubleshooting page of Ensime.

I installed Neovim as told [here](https://github.com/neovim/neovim/wiki/Installing-Neovim) for Ubuntu 16.04.
I also installed websocket-client, sexpdata and neovim python package for both python 2.7 and 3.5.

Here is the neovim :version command:

[code]

In Neovim,

[2017-01-04 16:07] ches commented on #363
Hi, thanks for the detailed info, that's helpful. It appears that your setup is mostly working.

The Python backtrace you posted looks like it might be cut off, it gives me some direction on what's going wrong, but if there is more of it it would be great—after this happens, can you run `:messages` and see if there is longer output?

The only thing I can really see that might be wrong from the bac

[2017-01-04 18:15] koslambrou commented on #363
Thanks for your answer!

After running `:message`, the only additionnal output is:
[code]
Seems like there's more output as you said, but I don't know how to extract it.

Here's my [ensime file](https://gist.github.com/koslambrou/4005db3ea11e6d9c60672c970398355d).
I checked and the `java-home` points to the correct path in my system.

[2017-01-04 23:24] ches commented on #363
Ah okay, seeing another possible problem stemming from a recent change in the plugin—there's a code path where we might be doing a filesystem read without protecting against the directory not existing.

Could you try `mkdir -p ~/.config/ensime-vim` and then run nvim again?

[2017-01-05 00:15] #363 closed

[2017-01-05 00:49] koslambrou commented on #363
This fix works!
Thanks a lot!

[2017-01-05 01:29] ches commented on #363
Yay, glad that's got you going!

[2017-01-05 14:56] ches opened #366 "[Draft] Proposal: Plugin-based Architecture, Extension API"
This should eventually supersede #64, the idea is to refine notes in this issue into a proposal/spec over time. I might move this to a wiki page as it becomes more spec than background story, so we can track history of edits by collaborators, but at the moment the GitHub wiki is disabled on this project.

_I've mixed terms a bit here—should we adopt nomenclature of ensime-vim "extensions" to avoid

[2017-01-05 15:38] ches commented on #290
Okay there's nothing actionable here currently, so let's close this. I now understand what `EnToggleTeardown` was supposed to do, and it doesn't work. It'll [go away soon][1] as the proper support for restarting is coming along.

[1]: https://github.com/ensime/ensime-vim/commit/1bdd74c48af870fa193958db195aca0e61b49154

[2017-01-05 15:38] #290 closed

[2017-01-05 15:44] ktonga commented on #290
Yeah, I'm ok with that. I've rebased my restart branch on your wip branch and the restart implementation looks a lot cleaner now, but the polling logic is still a mess of global flags, I'll try to clean that up since there is no easy way for leaving the client in a functional state after the associated server is restarted. Let's see what happens.

[2017-01-05 16:17] ktonga commented on #366
I really like the general idea, it will make everything less coupled, thus, more modular and easier to test/maintain.

I'm especially interested in this kind of functionality since I've been taking a look at how to implement a deoplete source for Scala based on Ensime, but I'm not too happy re-implementing all the client/server communication, so I think it could be implemented as a _plugin_ plugin

[2017-01-05 16:19] ches commented on #246
Chipping away at the monolith that is `EnsimeClient` has been happening bit by bit as a matter of course. #325 acknowledges the monolith and has some WIP nearly finished, #328 moved lots of Vim stuff to the `Editor` class already, and #366 presents a fuzzy vision for *really* dismantling it.

There is a unit test suite now and mixins as code re-org alone haven't been a great help to testability si

[2017-01-05 16:19] #246 closed

[2017-01-05 17:10] ches commented on #366
That's a good point, maybe we'll reach the point that `EnsimeClient` doesn't need an `Editor` at all. Already the API that I imagine `EnsimeClient` retaining with this in mind doesn't really use it, except maybe `send_at_position` which can be approached another way.

Yep, this is what I had in mind. That's what the first bullet in the list of further considerations is about, I haven't thought abo

[2017-01-05 20:47] jvican commented on #366
I really like the idea! It would be great to have a list of items that need ot be carried out so that any of us or future contributors can help out push this down the line.

I'm in for these changes, however are we sure we want to remove support for Python 2? I'm not sure we can make `ensime-vim`use coroutines with support for both versions. Python2 is extremely important because it's the default

[2017-01-06 17:54] #236 closed

[2017-01-07 13:03] ches commented on #366
Makes sense, I'll think of some checklist items and update this issue body with them after finishing #367, that paves the way for this to be much easier to start.

[2017-01-13 04:29] jwatte opened #369 "Error when adding ensime-vim to vim73 on ubuntu lts 12.04"
## 2. step by step instructions to trigger the bug

A. Install vundle on vim73 on ubuntu 12.04 LTS
B. Install ensime-vim as per steps in the instructions
C. Run :PluginInstall and wait for it to complete
D. Quit vim, and re-start vim
E. See this error in vim:

    $ vim
    Error detected while processing function <SNR>14_DependenciesValid:
    line   12:
    Traceback (most recent call last):

[2017-01-13 06:16] ches commented on #369
Hi, yes you're right that `vim.vars` doesn't exist in Vim 7.3, we realized this on #368. I've opened a PR at #370 that works around this poor failure mode during Vim startup, but in truth there are other assumptions of Vim 7.4+ in our codebase so I'd really suggest that you upgrade Vim for use of this plugin.

Ubuntu 12.04 goes end-of-life in April so I'd consider it barely even a server-class OS

[2017-01-13 09:59] ches opened #371 "Gracefully skip loading when Vim version is below a minimum"
See #370.

We're using a few parts of the Vim Python API that were added in Vim 7.4 (e.g. `vim.vars`). We either need to find these and change them to use methods that are compatible with older Vim (e.g. #370), or declare supported compatibility and skip loading on older versions.

I'm in favor of the latter, ensime-vim is the type of plugin people use for concentrated Scala work in an environment

[2017-01-13 10:39] ktonga commented on #371
I totally agree whit everything you just said, adding modern-IDEs-like features to Vim is hard enough already without supporting every single version out there. So I should not focus on this kind of compatibility issues. But I would be keen to consider merging a PR if someone interested in such support come up with any. Obviously if it doesn't complicates the codebase too much.

[2017-01-27 02:01] jsatk opened #372 "ensime-vim doesn't like my path which has spaces and parens in it."
This appears related to this issue. https://github.com/ensime/ensime-vim/issues/346

I symlink my dotfiles including my `~/.vim` directory. (Maybe I shouldn't symlink that one but that's a story for a different day.) The symlink path is `~/Dropbox (Personal)/dotfiles/vim/`. After spending many hours trying everything under the sun I discovered, thanks to @ktonga's patient help, that it was the pat

[2017-02-02 17:07] Kazy opened #373 "Use Vim's timer instead of CursorHold event"
Vim and Neovim now have a timer functionality to trigger and repeat a function. The related patch: https://github.com/vim/vim/commit/975b5271eed4fa0500c24a8f37be0b1797cb9db7.

While trying to fix an issue related to `CursorHold` with the `EnType` command whose result was immediatly erased from the command bar, I saw the timer patch. I decided to use it in Ensime-Vim instead of using `CursorHold`.

[2017-02-02 17:54] jvican commented on #373
This is awesome @Kazy, thank you for taking a stab at this. Would you mind opening a PR to study the inclusion of this patch into master? I would guess that we should require all our users to bump up their vim versions to 7.4.1578.

Do you know if this works with `neovim`? I'm not sure if the function added in `vim` has the same interface as timers in `neovim`.

[2017-02-02 18:03] Kazy commented on #373
Yes it's already in Neovim. Since ensime-vim already has a solution working, we could enable the timer functionality conditionally. You can test for the `+timers` feature.

[2017-02-03 14:34] #369 closed

[2017-02-03 15:19] ches commented on #372
Hi @jsatk, can you try adding an [`fnameescape`][1] to the offending line (where `pyfile` is called), wrapping the `expand`? If that resolves it, a PR would be great.

[1]: http://vimdoc.sourceforge.net/htmldoc/eval.html#fnameescape%28%29

[2017-02-03 23:15] jsatk commented on #372
Gladly @ches. I'll do that today or this weekend.

[2017-02-06 07:48] jsatk commented on #372
PR here: https://github.com/ensime/ensime-vim/pull/375

[2017-02-06 13:13] #372 closed

[2017-02-14 16:44] graingert opened #376 "sexpdata is unmaintained/dead. Fork it and maintain it under the ensime project as ensime/sexpdata."
There hasn't been a commit since ~2014, and no issues have been closed etc.

https://github.com/tkf/sexpdata/issues/12

[2017-02-14 16:48] graingert opened #377 "vendor sexpdata and websocket, to avoid requring users to install packages manually."
ship a packaged virtualenv with all the deps installed.

[2017-02-23 05:18] amanjpro commented on #291
I want to give this a shot, I am new to both Vim plugin development and ENSIME ecosystem. Can you guide me where shall I start?

[2017-02-23 05:31] ktonga commented on #291
If you're new to both I wouldn't recommend to start with this one, it's kind of a little monster, it touches almost everywhere. I reckon it may be one of the biggest issues around. I'd rather suggest to start with a `low-hanging fruit` or any other small issue (preferably one that bothers you) to get a grasp of the codebase before.

But if you still want to start with this one I can assist you.

[2017-02-23 05:40] amanjpro commented on #291
I really want the feature to be implemented, that is why I would like to try it

[2017-02-23 05:42] ktonga commented on #291
Ok, we can have a kickoff chat later and communicate further here or in the PR afterwards

[2017-02-23 05:45] ktonga commented on #291
Make sure you read http://ensime.org/editors/vim/contributing/

[2017-03-05 12:20] sherifkandeel opened #379 "Show type information under selection (not under point)"
In `Scala` If there's a line that says:
[code]
The return type `getMergeCommitParents(CommitId)` is a `List[Commit]`
The return type of the whole line is `List[CommitId]`

When I run `EnType` while on `getMergeCommitParents` I get a `List[Commit]`
There's no way I can run `EnType` on the whole line selection, neither there is a different command that does type information under selection.

You can

[2017-03-05 13:20] ktonga commented on #379
I agree, this is a handy feature to have.
Currently the implementation is limited to operate with the **word** under the cursor, it totally ignores the current selection. But the good news is that the limitation is on Vim's side, we can fix it and make it work on the selection since the server message already supports offset ranges.

I'll give it a try when I get a chance.

[2017-03-05 13:34] sherifkandeel commented on #379
@ktonga That is good news indeed. This one feature is literally the only thing keeping me from using vim + ensime on daily basis at work specially with. I'm thrilled to know it's somehow doable, Thank you!

I am happy to contribute if there's some low hanging tasks that I could do.

[2017-03-05 13:56] ktonga commented on #379
We tend to track all outstanding work in issues and make use of labels such as `help wanted` and `low-hanging fruit` take a look and see if there is one you would like to do. Help is always welcome.

[2017-03-05 15:09] #313 closed

[2017-03-05 23:12] ktonga opened #380 "Delete stale branches"
@jvican @ches  Hey guys, you cool if I delete those unused branches?

[2017-03-05 23:33] jvican commented on #380
Sure, go ahead!

[2017-03-05 23:35] #380 closed

[2017-03-07 00:27] tmccombs opened #382 "errors for cursormove and cursorhold with ensime and neovim."
### Steps to reproduce

1. Install ensime plugin using plug in neovim () on ubuntu 14.04
2. run ensimeConfig in sbt project
2. Open a scala file in above project

### Expected behaviour
Not get errors, ensime comands work

### Actual behaviour

I get the following error on almost every key press and it every couple of seconds even if I don't do anything:

[code]

If I press enter I see this:

[cod

[2017-03-07 00:39] tmccombs commented on #382
It is probably related to this: https://thingspython.wordpress.com/2010/09/27/another-super-wrinkle-raising-typeerror/

I am on python 2.7.6

[2017-03-09 12:41] ktonga commented on #382
Hi @tmccombs,

Could you start vim with debugging enabled (`vim -V9vim.log`) and check in the file `vim.log` if you see any other clue what the problem can be?

Cheers.

[2017-03-13 23:46] tmccombs commented on #382
It appears the problem was that I had copied the rplugin code into a different place in my runtime path.

Deleting that fixed it. Although it is incredibly slow, and sometimes commands don't seem to do anything.

[2017-03-13 23:46] #382 closed

[2017-03-14 21:20] drxcc opened #384 "Support Windows vim/gvim to initialize the Ensime Server"
It doesn't appear ensime-vim supports Windows (at least launching the Ensime Server).   The sever fails to find java even though `java-home` is set correctly in the .ensime file.

I have made a very simple pull request ( #383) that fixes these issues.

[2017-03-18 15:39] #384 closed

[2017-03-22 13:48] ktonga opened #385 "Extract logging setup from the client to easily propagate it over the rest of the codebas"
Some improvements have been done to the way the plugin logs in #323 but that only enables logging within the client, and we are missing many opportunities to log important information due to the lack of logging support in the rest of the codebase.

We should abstract/extract the logging-setup-related code from the client so we can create loggers in the different components of the plugin like in `E

[2017-03-22 19:22] andykais opened #386 "ensime-vim.log: WebSocketBadStatusException: Handshake status 404"
upon opening a scala file within a project, the vim command line states:
[code]
and I cannot run any ensime commands

## logs
.ensime_cache/ensime-vim.log:
[code]

.ensime_cache/server.log:
[code]

## recreation steps
### Neovim 0.1.7
[code]
in editor:
[code]

### sbt 0.13.13
[code]

[code]

## additional info
the troubleshooting page states to run
[code]
but neither `~/.ivy2/cache/org.ensime` or

[2017-03-25 13:28] ktonga commented on #386
Hi @andykais with that setup I think ensime-vim should be using servers jars resolved by `sbt ensimeConfig` does that sbt command finish successfully?

[2017-03-25 13:31] ktonga commented on #386
There was a problem with ensime server binaries recently, please find `org.ensime` under your coursier cache (`.coursier/cache`) and wipe it out. Then run `sbt ensimeConfig` again and try starting vim after that.

[2017-03-26 00:23] #373 closed

[2017-03-26 23:06] andykais commented on #386
There is no `org.ensime` folder in `~/.coursier/cache` either, just this
[code]
I should mention that `~/.ivy/cache` is populated with other folders as well.

`ensimeConfig` works correctly, at least as far as I know, creating a `.ensime` file with data in it, but vim responds with the same error

[2017-03-27 00:36] ktonga commented on #386
Could you please find the value of `:ensime-server-jars` within your `.ensime` file?. `ensimeConfig` should resolve them using coursier and place them under your coursier cache, and vim should use them to launch the server

[2017-03-27 01:14] andykais commented on #386
[code]

[2017-03-27 01:44] ktonga commented on #386
Ok, it seems you're trying to use server 2.0, You will need to add this to your vimrc:

[code]

This is a temporary hack and will be removed once we implement something better :)

Give it a try and lemme know if it fixes your ploblem

[2017-03-27 18:28] andykais commented on #386
sure, added that and now have a new error:
[code]
vim plug says that `ensime-vim` is up-to-date

[2017-03-27 20:50] #379 closed

[2017-03-27 21:39] ktonga commented on #386
Could you please tell me the steps to reproduce it? I have a similar setup to yours and I'm not being able to make this error happen.

Have you run `:UpdateRemotePlugins` after updating with VimPlug?

[2017-03-27 23:44] andykais commented on #386
ok Ill try to simplify it.

I have reduced my `init.vim` to this
[code]
I am running a project in this [folder](https://github.com/andykais/telebum2/tree/master/services/web-api) of my project.

In the project I removed all `target`, `scala-2.12`, `java` folders before running. In sbt I run
[code]

Then, with `nvim` I open a file in `src/`, run `:EnTypeCheck` and get the previously mentioned error

[2017-03-30 20:38] dubiousdavid opened #387 "Tagged Releases"
It would be really great if there were tagged releases that were known to work with the corresponding server version. For example, `v1.12.9`.

[2017-03-31 15:15] travishegner commented on #386
I'm having a similar issue using nvim.

I think I may have potentially narrowed it down to the 'EnTick' function not being registered correctly within nvim. The traceback is cut off much like above, but I continued stepping through, and found that if I run `:call timer_start(1000, 'EnTick', {'repeat': -1})` manually within an nvim session, I get a message that states `Function EnTick doesn't exist

[2017-03-31 21:05] ktonga commented on #386
@travishegner That function was added recently, have you run `:UpdateRemotePlugins` after updating?

[2017-04-01 04:17] ches commented on #387
Hi, we do probably need to improve version/release management especially now that ENSIME server is in transition (we have some related issues like #355). However, in my experience many people (probably the majority) don't lock versions of their Vim plugins, they just run their plugin manager's "update" function from time to time and pull in `HEAD` of whatever they're using…

Tagging is reasonable

[2017-04-01 04:22] ches commented on #377
Hi, I'm skeptical that this is scope creep and a potential maintenance/environment troubleshooting nightmare for ensime-vim maintainers, but I don't want to dismiss it without hearing more of how you envision this to work. I believe we'd need to hear a more detailed plan than your one-liner issue description.

[2017-04-01 04:33] ches commented on #376
That is cause for some concern, but if it's currently feature-complete for our needs I don't see it as a high-priority problem.

Is there some ensime-vim feature you're interested in implementing where sexpdata has limitations? If so I don't think it would be much of a problem for ensime-vim to change its dependency to a different/more maintained library, but I don't imagine the ensime org is goin

[2017-04-01 09:04] graingert commented on #377
Hopefully it would be less troubleshooting, because you wouldn't need to worry about what package versions people have on their environment

[2017-04-03 18:25] tomcham opened #388 "Error `E171: Missing :endif` probably introduced by `timers` commit"
I removed ensime from my ivy cache and regenerated the ensime configs.

Tested with the following config
[code]
Neovim
[code]

### Steps to reproduce

1.  Use above neovim config and run `:PlugInstall`
2. Open a scala file

### Expected behaviour
No error

### Actual behaviour
Getting below error:

[code]
Reverting back to commit https://github.com/ensime/ensime-vim/commit/511f60911ecdeb6deb732d8a

[2017-04-03 18:58] yyadavalli commented on #388
Did you run `:UpdateRemotePlugins` after installing?

[2017-04-03 19:31] tomcham commented on #388
Yeah

Also getting this error:

[code]

[2017-04-04 09:00] jan0sch commented on #388
I can confirm this error using neovim 0.1.7, ensime 1.12.9 and latest ensime-vim (via pathogen).
The interesting part of the error message seems to be the last lines:

[code]

Some research indicates that this might be related to calling python from vimscript.

[2017-04-04 12:20] travishegner commented on #386
@ktonga, indeed, I have. My issue is probably more related to #388.

[2017-04-04 12:48] travishegner commented on #388
Please see this comment: https://github.com/ensime/ensime-vim/issues/386#issuecomment-290740703

As mentioned in the linked comment, I believe I have it traced back to `EnTick` not being registered correctly as a function in neovim. Yes, I am confident that I am running neovim that is loading a file that contains the definition for `EnTick`

The work-around prevents the error message, but I still

[2017-04-05 04:32] Wonicon commented on #386
I ran into the same problem with VIM 8.0.
After executing `:PluginUpdate` in Vundle, the error report in VIM disappeared, but `./ensime_cache/ensime-vim.log` still showed the same handshake error.
But when I unintendedly add `let ensime_server_v2=1` found in this issue to my `.vimrc`, and everything starts to work.

[2017-04-05 04:56] 2chilled commented on #388
I made quite the same observations as @travishegner using neovim.

[2017-04-05 14:12] ktonga commented on #388
@travishegner Ok. it seems that your build tool integration does not support generating `ensimeServerJars` field in `.ensime` so the error might be related to ensime-vim trying to bootstrap the server and some kind of incompatibility with the new `timers` approach. Any idea @Kazy ?

Could you please provide the `.ensime` file maven is generating?

Also it would be helpful if you started vim like t

[2017-04-05 15:08] 2chilled commented on #388
@ktonga I had the same problem with EnTick by using a .ensime file generated by sbt. neovim claimed that `EnTick` command is not defined.

[2017-04-05 15:16] ktonga commented on #386
I'm closing this issue as the handshake 404 is solved by adding `let ensime_server_v2=1` to `vimrc`.
For those whose problem isn't solved by this hack and still have the `E171: Missing :endif` error let's move the discussion to #388

[2017-04-05 15:16] #386 closed

[2017-04-05 15:36] Kazy commented on #388
The error only exists with Neovim 1.7, but is fixed when using the current HEAD. The actual bug is this one: https://github.com/neovim/neovim/issues/5821. As mentioned in the issue, if you first do `:call EnTick()` before opening a Scala file, and then open it, it works correctly.

@ktonga: we can revert the commit until the fix is in a stable release (2.0 apparently). Since there is a (manual) wo

[2017-04-05 15:53] Kazy commented on #388
If some of you could test the fix with the following commit (https://github.com/Kazy/ensime-vim/commit/2ab94df5d5d1b59937e2faecb5dedea8ae0b651a) to confirm it works that would be great :)

[2017-04-05 15:53] ktonga commented on #388
Oh, that's why I'm not experiencing this issue, coz I'm on `NVIM v0.2.0-dev`

Ok @Kazy let's try to automate the workaround :smile:  I'd prefer that over reverting. If it isn't possible then we should revert.

Thanks for taking care so quickly.

[2017-04-05 17:37] tomcham commented on #388
@Kazy fix works for me. Using `NVIM 0.1.7`

[2017-04-05 17:38] travishegner commented on #388
@Kazy the work-around prevents the error message for me also. I'm still having a separate issue with `mvn ensime:generate` not downloading the correct ensime server version, so I will file a separate issue for that.

[2017-04-05 17:46] Kazy commented on #388
Good to know, thanks for testing !

[2017-04-05 17:50] Kazy opened #390 "Remove workaround for issue #388 when fix is in Neovim stable"
Corresponding Neovim issue: https://github.com/neovim/neovim/issues/5821
Corresponding Ensime-vim issue: #388
Corresponding PR: https://github.com/ensime/ensime-vim/pull/389

The fix should land in Neovim 2.0.

[2017-04-05 17:54] #388 closed

[2017-04-05 18:14] Jacoby6000 commented on #388
I happened to stumble on this just now. I'm still having the issue even with the PR. Using `NVIM 0.1.7` as well with `ensime-sbt 1.12.9`

[code]

I appear to have PR #389

[code]

My stacktrace is a bit different, so it might be a new issue.  I just saw mentions of EnTick in here and in my stacktrace so I figured I'd post here.

[2017-04-05 18:24] Kazy commented on #388
Does it happen consistently ? Did you run `UpdateRemotePlugins` ?

[2017-04-05 19:52] Jacoby6000 commented on #388
Ah, I didn't realize I'd have to run `UpdateRemotePlugins`.  It seems to work now, aside from this error which I assume is unrelated:

[code]

[2017-04-05 19:54] tomcham commented on #388
@Jacoby6000 See https://github.com/ensime/ensime-vim/issues/386

[2017-04-05 19:55] Jacoby6000 commented on #388
:+1:

[2017-04-06 13:17] 2chilled opened #392 "Encoding issue in autocomplete"
### Steps to reproduce

1. Use newest ensime-vim version
2. Use newest deoplete version
2. Use ensime-server 2.0.0-SNAPSHOT
3. `let ensime_server_v2=1` in vimrc
4. NVIM 0.1.7
5.  Configure newest version of https://github.com/atnos-org/eff in sbt
6. Try autocompleting `org.atnos.eff.Interpret.`

### Expected behaviour
autocompletions should be shown
### Actual behaviour
error caught in async handl

[2017-04-06 15:39] 2chilled commented on #392
[code]
on top of `symbol_format.py` fixes this issue, but I'm sure there's a cleaner solution ;)

[2017-04-08 10:49] sl0thentr0py commented on #366
Is supporting Python 3 still on the list? I tried quickly testing if it still works with python3 but lettuce does not work, so I tried porting to aloe (following the [lettuce issue](https://github.com/gabrielfalcao/lettuce/issues/458)). Unfortunately pip fails on aloe and I'm not a python magician, so I gave up for now. If someone can point me on how to port it to python3, I would be happy to help

[2017-04-08 15:25] ches commented on #366
Hi @sl0thentr0py, supporting Python 3 is definitely still on the table. Sorry if you went down a rabbit hole with Lettuce though, Python 3 support is one reason that its days are probably numbered for ensime-vim. If we keep Gherkin specs around at all (e.g. if we [like it for an integration test setup][1]), I personally would favor porting to [pytest-bdd][2] since [we have pytest unit tests now][3

[2017-04-10 11:13] sl0thentr0py commented on #366
Hi @ches, thanks for the quick and helpful reply!
I am going to read the source a bit over the next days and if I commit to porting the Python 3, I will let you guys know by opening an issue.

[2017-04-13 08:30] vito-c commented on #390
@ktonga

1. update sbt plugin
2. wipe out ensime dirs from ivy cache `find ~/.ivy2 -name \*ensime\* -exec rm -rf {} \+`
3. run ensimeConfig again
4. make sure you have `let g:ensime_server_v2=1` in your init.vim
5. open a scala file.

You might need to to run `UpdateRemotePlugins` as well. Another tip kill all your other instances of nvim running. Not sure if it's entirely an issue but I kept gett

[2017-04-19 15:03] nickdiego opened #393 "Launcher wrongly formats classpath when using SbtBootstrap (after f6abb669269646)"
After f6abb669269646 has landed, *_start_process* function expects classpath as a list of paths (in case of *SbtBootstrap* read from classpath file, instead SbtBootstrap is passing it as string. That results in a kinda bizarre launch command as may be seen in the example bellow:

[code]

More details:
I'm trying to use ensime-vim with a android java project, here is my initial *.ensime* file:

[co

[2017-04-27 06:14] byYufeng commented on #306
apt install vim-nox-py2

ref:
https://askubuntu.com/questions/284957/vi-getting-multiple-sorry-the-command-is-not-available-in-this-version-af

[2017-05-02 09:40] Kazy commented on #390
Neovim 0.2 is out https://github.com/neovim/neovim/releases/tag/v0.2.0, this can be removed whenever you want.

[2017-05-05 15:44] lilred commented on #306
FYI, Ubuntu does not offer `vim-nox-py2` anymore.

[2017-05-13 07:28] raghuramos1987 opened #395 "Issue with ensim-vim for gradle java project"
If you've come straight to the issue tracker out of habit, you might want to read the [Getting Help](http://ensime.github.io/getting_help/) or [ENSIME-Vim Troubleshooting](http://ensime.github.io/editors/vim/troubleshooting/) sections of the documentation.

If it still looks like a client bug and you've come back here, be aware that there is very little we can do unless you provide us with a repro

[2017-05-13 12:50] ches commented on #395
Hi,

You will probably want to direct your energy toward ensime-gradle here, not ensime-vim.

ensime-gradle hasn't had a substantive update for a year, just a small update for Gradle version compatibility, not ENSIME server compatibility—I believe [it likely does not work with current ENSIME server versions](https://github.com/ensime/ensime-gradle/issues/60).

We don't support Java projects very w

[2017-05-15 15:10] raghuramos1987 commented on #395
@ches I've added the comment under the issue you linked. Thanks for root causing it.

[2017-05-30 16:17] dubiousdavid opened #396 "Always show full type?"
Is there a way to always show the full type without having to manually call `:EnToggleFullType`?

[2017-05-31 00:28] ktonga commented on #396
I guess you can call the command in your vimrc to force it.
We had a discussion about it a while back just in case you're interested #290. SPOILER I'm on your side :)
You can add your thoughts on that issue, feedback is always welcome.

Closing this issue as a duplicate of #290

[2017-05-31 00:28] #396 closed

[2017-06-19 06:10] byronyi opened #397 "[Feature Request] Python 3 Support"
Debian 9 is released a couple days ago and it is the first stable release that comes with Java 8. This is important to us that a lot of projects have deprecated use of Java 7, and we need a new development environment for these projects.

However, this also means that the `vim-python` package of Debian 9 all comes prebuilt with Python 3. And it is expected that EOL of Python 2 will come in next 3

[2017-06-19 09:18] ktonga commented on #397
We discussed about it briefly on #366 see this comment https://github.com/ensime/ensime-vim/issues/366#issuecomment-292710136

[2017-06-19 09:20] ktonga commented on #397
On response to your concrete question, no, no change on the server would be needed.

[2017-07-27 10:45] ktonga opened #399 "It defaults motion to whole line when operator waiting timeouts"
When I enable the plugin it changes actions' default behavior.

Without the plugin when you press `d`, for instance, it puts you in motion waiting so I can take my time and decide what I want to delete, but if the plugin is enable after a few milliseconds it defaults to delete the whole line, what is very annoying.  More often than I'd like I find myself undoing this "accidental" editions.